[2015-06-12 23:47] eg0r opened #9 "Add PostgreSQL driver for PHP"

[2015-06-24 18:48] RVN-BR commented on #9
#11

[2015-06-24 18:56] richarvey commented on #9
Will add this shortly!

[2015-06-24 19:06] richarvey commented on #9
This is now building. I've also added the mongoDB driver.

Ric

[2015-06-24 19:06] #9 closed

[2015-07-17 13:51] TimNN opened #14 "apt-get update required AFTER adding ppa"
Hi,

it seems that in commit 195e6999c2e4cb56af25e3c2db3d08818e8dfc26 you moved the `apt-get update` command *before* the `apt-add-repository` command, which makes sense to install the latest `software-properties-common`. However you still have to update *after* adding the ppa because otherwise the nginx shipped with ubuntu will be installed and not the one from the ppa.

[2015-07-17 13:53] richarvey commented on #14
I'll get this fixed now, thanks for spotting that!

[2015-07-17 13:56] richarvey commented on #14
New images should be building now.

[2015-07-17 13:56] #14 closed

[2015-07-17 13:57] TimNN commented on #14
Awesome, thanks for the quick response!

[2015-07-17 13:58] richarvey commented on #14
No worries would love to know your use case and if you need any more features.

[2015-07-17 14:18] TimNN commented on #14
Actually I wanted *less* features, which is why I forked this repo and when testing my modifications noticed that on the 404 page it said `nginx/1.4.6 (Ubuntu)` which kinda confused me :D.

I needed an image which I could use to build other images on top on, such as a piwik image (there are existing piwik images, however neither was quite right for my use case).

You can find my changes at: https:

[2015-07-17 14:23] richarvey commented on #14
Would it be useful if i build a base image (just nginx and php) and then a new image from that base on top that has the git features etc etc?

[2015-07-17 14:37] TimNN commented on #14
Sure, that would be cool.

I made some other changes as you might have noticed which I'll just list here along with the reason for the change:

* I removed the increased upload / body sizes, because I don't think I'll ever need them and I'd rather change these on a case by case basis.
* I removed the `VOLUME` because I don't need it for my use case and again rather enable it on a case by case basi

[2015-08-27 12:22] tapir opened #18 "Error in docker log"
I get a lot of this error when I try to run the stable image

[code]
I run mariadb like this
[code]
I run nginx-pgp-fpm as follows:
[code]

[2015-09-03 08:16] Sam-R commented on #18
The same thing is happening to me. It looks like it's this line to me:
[code]

When running the container in interactive mode, I run
[code]
It seems to get hung up on this line, which is inside a for loop. My container takes ages to start due to all of the sed errors.

I don't have any idea how to fix it yet though!

[2015-09-03 08:38] richarvey commented on #18
I see this also. If you're not using templating use the: -e TEMPLATE_NGINX_HTML=0 flag

I'll look at replacing this script with python and something less likely to error.

Ric

[2015-09-03 10:51] tapir commented on #18
I use it like this on my own container
```sed -i -e "s/\${REPLACE}/$VALUE/" /etc/nginx/sites-available/default``` and it works ok.

[2015-09-03 23:59] vwbusguy opened #19 "chown nginx.nginx error"
On starting up a container I see the error:

`chown: invalid user: 'nginx.nginx'`

Changing this to `nginx:nginx` should fix it.

[2015-09-14 23:05] Zyles opened #20 "403 Forbidden"
Hi,

Sorry docker noob here. But I get 403 Forbidden with this package when I try to mount a volume on my host machine.

Docker seems to be running as root, so I am not sure why it would happen. It should have read access everywhere no?

Is it 403 on the host machine files, or files inside the container? I am not sure how to debug this.

Any tips?

[2015-09-14 23:06] coleca commented on #20
Nginx and php-fpm run as www-data not root, so your volume needs to allow that user access.

[2015-09-14 23:11] Zyles commented on #20
Thanks.

[2015-09-14 23:11] #20 closed

[2015-12-17 10:53] richarvey commented on #19
Ok I'll give that a test the . is just the old style notation and should work. It could be the packages are updated with www-data as the user

[2015-12-17 10:54] richarvey commented on #18
@tapir I'll give your suggestion a go

[2015-12-24 13:17] ptebault commented on #18
This line in start.sh:19 also causes grief when I mount a webroot per your example: https://github.com/ngineered/nginx-php-fpm/blob/master/start.sh

Meaning perhaps, the examples given on hub.docker.com may be incorrect in light of this git pull feature that's currently in the package.

Thankfully it's read-only, but that means that the script then iterates through the (hundred thousand or so) fil

[2016-01-10 18:02] richtera opened #28 "I like the templates.... but...."
If you use the git pull thing it should probably do a git checkout -f to undo the templating. Then the git pull and then reapply the templating. This might be a bit of a problem with git push because the executed templates would be pushed....
Might need a slightly better way. thinking...
Thanks
Andy

[2016-01-16 17:06] sebaplaza opened #31 "Can you add php5-ldap to the image?"
I could make my own image, but maybe you want to add this feature to the base image.

Thanks !

[2016-01-16 21:05] richarvey commented on #31
Added for next release

[2016-01-16 21:05] #31 closed

[2016-01-16 21:12] richarvey commented on #28
open to options best way is to switch them off if not used.

[2016-01-16 21:12] #28 closed

[2016-01-17 00:46] richtera commented on #28
:) Ok. My point was really that the pull operation doesn't reapply them :)
The push outputs templated data is a point but unlikely to be a real problem since not many people would modify files on the docker and attempt to push it.
But turning those off is another option.

[2016-01-18 21:48] richarvey commented on #19
This should now be fixed it was a change in user from nginx to www-data. The dot notation . and the comma : both work its just that I'm old fashioned and use the dot.

[2016-01-18 21:48] #19 closed

[2016-02-18 04:50] kwilliams opened #32 "Suggestion for sed replacement hack in start.sh"
I'm designing a similar container, and in the process found this awesome utility envsubst ( http://manpages.ubuntu.com/manpages/gutsy/man1/envsubst.1.html )

[2016-02-24 13:43] killerwolf commented on #18
+1 use `-e TEMPLATE_NGINX_HTML=0`

template skipping should be enabled by default.

[2016-02-26 21:45] killerwolf opened #33 "php extensions"
how to add php extension mongo for example ?

[2016-02-27 12:51] richarvey commented on #18
Guys I'm going to make this disabled by default this afternoon, along with some other updates

[2016-02-27 12:52] richarvey commented on #32
This looks pretty cool will give it a go

[2016-02-27 12:53] richarvey commented on #33
How about I add a feature to allow you to install plugins on the fly?

[2016-02-27 15:05] killerwolf commented on #33
Yeah it would be great

[2016-02-27 19:13] richarvey commented on #33
This will be rolled in to the next release. Look for the DEBS flag

[2016-02-27 19:14] #33 closed

[2016-02-27 19:14] richarvey commented on #18
Now disabled by default

[2016-02-27 19:14] #18 closed

[2016-02-29 08:09] killerwolf opened #34 "PHP version"
How about using php5.6 or even php7, is this doable ?

[2016-02-29 08:34] richarvey commented on #34
As Ubuntu updates I'll roll this out, I'll check what version will land with 16.04 in April. Debian packaging is a little confusing in its versioning, as 5.5 receives security updates and it's pretty close to 5.6 in features. I'll produce a beta version in the next week that you can test.

[2016-02-29 08:39] killerwolf commented on #34
I am using the new php mongodb driver (not the old one called mongo),

https://docs.mongodb.org/ecosystem/drivers/php/#drivers

looks like i can't install it within your container running php5.5

may the reason is it's a PECL package (only), not a deb one.

[2016-02-29 14:27] richarvey commented on #34
Hi @killerwolf ,

You can test the richarvey/nginx-php-fom:beta56 and beta70 images now.

I don't believe this solves the PECL issue as there are no debian packages for mongo. I'm looking into a way to solve this now but feel free to try the latest betas

Ric

[2016-02-29 16:27] richarvey commented on #34
@killerwolf pecl is a little broken in php 7 on unbuntu 16.04 as soon as its fixed I'll add a -e "PECL_INSTALL=mongoDB" flag

[2016-03-02 17:39] killerwolf commented on #34
OK waiting for it then

[2016-03-03 02:18] mustone opened #35 "pdo driver no value"
I am using the php pdo driver but the pdo driver no value ，how to set？

[2016-03-15 16:55] assembledadam opened #36 "PHP is not logging errors to stdout or stderr"
I have an app installed atop this (Laravel 5.2, but not really relevant here), but I'm not getting any errors showing with docker logs.

As I understand it, supervisord is configured to display all stdout/stderr messages from the php5-fpm and nginx processes.

In an attempt to fix it, I edited the php5-fpm config file to disable cache_workers_output which redirects stdout/stderror to a log file.
[

[2016-03-15 18:10] assembledadam commented on #36
Ok I have it somewhat working now - I didn't have this in my /etc/nginx/nginx.conf:
[code]

Noticed you already have this in the repo, but I'm actually overwriting it with my own config hence my issues above.

Presumably writing PHP errors is the intended behavior since in the readme you state 'All logs should now print out in stdout/stderr and are available via the docker logs command:'.  As such

[2016-03-26 13:57] DuncanMarshall opened #38 "Can't get enviroment variables to work as described"
I'm trying to set up this container and have it be linked to a mysql container, but I can't work out how to get access to the enviroment variables for things like the mysql server's IP, and so on.

I'm launching the mysql container like so:

`sudo docker run --name some-mysql -e MYSQL_ROOT_PASSWORD=yayMySQL -e MYSQL_DATABASE=wordpress -e MYSQL_USER=wordpress_user -e MYSQL_PASSWORD=wordpress_passwo

[2016-03-26 14:13] coleca commented on #38
You need to pass the environment variables into the PHP FPM config. Something like this before nginx starts is what I do:

 printenv | xargs -I{} echo {} | awk 'BEGIN { FS = "=" }; { print "env ["$1"] = "$2 }' >> /etc/php5/fpm/pool.d/www.conf

That exports the entire environment to PHP FPM because by default it clears out the environment before it starts.

[2016-03-26 14:18] coleca commented on #38
Clicked comment too fast. I meant to say I add that to the start.sh script before supervisor starts up.

[2016-03-26 14:33] DuncanMarshall commented on #38
Thanks @coleca, I was just in the process of realizing the templating gets done *when the container starts* as I read your comment.

This being the first real thing I've done with Docker, I don't know what you mean by "the start.sh".  I'm running the container with the docker run command as above.  Is there supposed to be a start.sh script I should know about and that I can add your command to?

T

[2016-03-26 14:49] coleca commented on #38
Sorry. I meant I cloned the repo, edited the scripts/start.sh script and built my own version of the container.

[2016-03-26 15:55] DuncanMarshall commented on #38
Thanks @coleca, worked like a charm!

[2016-03-26 15:59] #38 closed

[2016-04-02 18:48] julianxhokaxhiu commented on #20
@coleca can you explain how? I'm having exactly this issue :) Thank in advance

[2016-05-09 19:22] bpavacic opened #40 "rm /usr/share/nginx/html/*"
The line:
rm /usr/share/nginx/html/*
in startup script doesn't delete subdirectories nor .git* files causing "git clone" to fail.
I suggest changing it to
rm -Rf /usr/share/nginx/html

[2016-05-30 13:43] jackmcpickle commented on #32
I think I have found a real solution for this.

See https://github.com/php/php-src/pull/598

Just need to add something like this to the Dockerfile

[code]

and then you will be able to use `$_ENV['DB_HOST']` instead of `$$_DB_HOST_$$`

[2016-06-10 17:57] devkinetic commented on #32
@jackmcpickle you would think it's that easy but the container runs PHP 5.5.9. According to https://secure.php.net/manual/ro/install.fpm.configuration.php clear_env was added in 5.5.11 so PHP needs to be upgraded first, and then your `RUN` command.

[2016-06-15 04:06] jackmcpickle commented on #32
We have forked it awhile back to run our cms on php7 - also adds nodejs..
see https://github.com/sealink/phpdocker

probably a good idea to update php5.5.36 as its the latest security update.

Maybe a chance to run branches for each version of php? 5.5/5.6/7 ?

[2016-06-15 14:43] richarvey commented on #40
I'll check this out however the conatiners just been rebuilt on alpine linux from the ground up. I have a feeling this may still exist though.

[2016-06-15 14:43] #36 closed

[2016-06-15 14:44] richarvey commented on #35
I'm not quite sure what you are trying to do. Can you give an example please.

[2016-06-15 14:45] richarvey commented on #34
Guys,

These need to be built in docker hub but there are new containers php 5.6.21 and php 7.0.7 all built on a new streamlined alpine linux base.

[2016-06-15 14:45] #34 closed

[2016-06-15 14:46] richarvey commented on #32
Guys,

I'm just built a 5.6.21 version and a 7.0.7. I'll give this a go asap.

[2016-06-15 14:46] #32 closed

[2016-06-15 15:17] kalumkalac opened #43 "php.ini not taken into account"
Just check out you new build. Although you edit the file */etc/php5/php.ini* in the Dockerfile, the phpinfo() just don't seem to use it. All values are the default ones.
[code]

[2016-06-16 08:32] richarvey commented on #43
Thanks @kalumkalac I'll check that out asap.

[2016-06-16 08:47] richarvey commented on #43
I've linked the php.ini file to /etc/php5/conf.d and this now loads the default like max file upload etc.

[2016-06-16 08:47] #43 closed

[2016-06-16 08:57] richarvey commented on #40
This should now be resolved with your suggestion. Also the new default directory is /var/www/html jfyi

[2016-06-16 08:57] #40 closed

[2016-06-16 09:55] bpavacic commented on #40
Thank you, it seems to be working now.

[2016-06-16 11:04] kalumkalac opened #44 "/start.sh: line 36: php_flag[display_errors]: command not found"
You forgot an `echo` at the begining of the line.

[2016-06-16 12:58] richarvey commented on #44
thanks @kalumkalac that should be fixed in the latest build.

[2016-06-16 12:58] #44 closed

[2016-06-20 15:02] richarvey commented on #35
Will close this issue on friday 24th if no answer.

[2016-06-21 14:38] auchri commented on #43
@richarvey

That's still the case:

![image](https://cloud.githubusercontent.com/assets/5092164/16233224/ec0e2e3a-37cd-11e6-9c2c-270d4fb39635.png)

But as you can see, it's not necessary to `ln -s /etc/php5/php.ini /etc/php5/conf.d/php.ini`, since php already searches in the `/etc/php5/conf.d` folder for additional .ini files.

I think with the symlink you created you  created to "fix" this issue

[2016-07-05 10:11] caibirdme opened #49 "Can't pull code from git"
Hi,I was puzzled by `Dynamically Pulling Code from git`.My steps are blow:
* pull image
* ssh-keygen -t rsa -C "my.email" && enter enter...
* add ~/.ssh/id_rsa.pub to github
* `git clone git@my.repo proj` to `proj` dir
* `base64 -w 0 ~/.ssh/id_rsa.pub` and copy the result
* `sudo docker run --name aha -d -v /path/to/proj:/var/www/html -e 'GIT_REPO=git@my.repo' -e 'GIT_BRANCH=develop' -e 'SSH_KEY=p

[2016-07-05 21:27] richarvey commented on #49
Can you paste me the output from:

sudo docker exec -t aha /usr/bin/pull

Please

[2016-07-05 21:31] richarvey commented on #49
Also looking at your command its seems you are already pulling the code into the container using the VOLUME -v flag. I'm guessing /path/to/project already contains you code? If so you dont need to pull from git as you already have the code.

Try dropping the volume flag and using the pull and push scripts instead. /root/.ssh/id_rsa is perfectly normal. Inside your container there is only the root

[2016-07-10 08:37] TomomiSawako opened #51 "Questions for ubuntu:14.04"
I'm try to build an different image, so i use ubuntu:14.04
But i'm not found "listen = 127.0.0.1:9000" in /etc/php5/fpm/php-fpm.conf

[2016-07-10 12:34] richarvey commented on #51
This is a alpine linux image so swapping the dockerfile to use ubuntu wont work as alpine uses apk to install packages and ubuntu uses apt-get

[2016-07-10 12:34] #51 closed

[2016-07-11 19:24] #49 closed

[2016-08-05 07:25] titpetric opened #56 "Alpine linux & nginx version"
After updating to alpine linux, the nginx version provided doesn't provide the realip module:

[code]

[2016-08-05 09:29] richarvey commented on #56
I'll take a look into this now and get back to you asap

[2016-08-05 09:35] richarvey commented on #56
Looks like this is an issue in alpine linux and there are a couple of open feature requests for it.

Such as:

https://bugs.alpinelinux.org/issues/5712

[2016-08-05 09:35] #56 closed

[2016-08-09 15:27] Sendoushi opened #57 "Undefined GLOB_BRACE"
One of our internal libraries uses `GLOB_BRACE` and using this container I'm getting:
[code]

Ideas on how to solve?

[2016-08-09 17:43] vitorsdcs opened #58 "Replace root path with WEBROOT in default-ssl.conf"

[2016-08-09 18:08] richarvey commented on #57
This rings a bell! I'll have a deeper look in my notes for this and let you know asap

[2016-08-09 18:09] richarvey commented on #58
I'll work on a fix and release this asap.

[2016-08-10 07:23] Sendoushi commented on #57
Awesome! Thanks! Looking forward...

[2016-08-10 10:29] richarvey commented on #58
This is now fixed in the latest build.

We've edited the letsencrypt-setup script to use sed to replace the variable.

Its now completed in php 5 and php 7 branches

[2016-08-10 10:29] #58 closed

[2016-08-10 14:51] richarvey commented on #57
it looks like alpine linux (our base image) doesn't support GLOB_BRACE since it is using musl libc instead of GNU libc.

This is an issue open with PHP as they need to support other systems.

Now not wanting to leave you with a "it wont work, until the upstream patches" message I've had a look and some people are doing the following as a work round:

 call glob() multiple times and then do an arra

[2016-08-10 21:11] Sendoushi commented on #57
Sure. That makes some sense. I actually don't understand the need for this in the internal lib but oh well.

Thanks! You're awesome for trying to solve :P By the way... thanks also for a working nginx docker ehehe

[2016-08-10 21:11] #57 closed

[2016-08-18 01:55] flyer5200 opened #59 "How to build a php5.3 version?"
How to build a php5.3 or php5.4 version? I need a slightly lower php version?

[2016-08-18 17:45] swoodford opened #60 "ERROR: An another FPM instance seems to already listen on /var/run/php-fpm.sock"
After cloning the branch php7, completing a docker build & run as-is, getting issues starting up php-fpm7.

`~/github/nginx-php-fpm  (php7) docker run -ti nginx-php-fpm`
`2016-08-18 17:38:42,558 CRIT Set uid to user 0`
`2016-08-18 17:38:42,564 INFO RPC interface 'supervisor' initialized`
`2016-08-18 17:38:42,565 CRIT Server 'unix_http_server' running without any HTTP authentication checking`
`2016

[2016-08-19 19:38] virtuman opened #61 "Do you not have VOLUME directive in Dockerfile for a reason?"
I really like the simplicity of the project, and would like to use it in DEV and in Production environments. I'm wondering if this is intentional that you don't have VOLUME directive in the Dockerfile, which would allow for a more standard workflow on a developer's machine?

I would suggest allowing to bind volume for /var/www/html, or since there's a repo layout proposition than maybe as an optio

[2016-08-20 00:42] infinitysgame commented on #60
Experienced this myself. A couple of things I did to resolve it:

Update the following line in `supervisord.conf`:
from
`command = /usr/sbin/php-fpm7 -c /etc/php`
to
`command = /usr/sbin/php-fpm7 --nodaemonize --fpm-config /etc/php7/php-fpm.conf`

_(Not sure you require `--nodaemonize` switch in the command line above if you apply the changes below)_

and

the following line in the `Dockerfile`:

[2016-08-20 18:28] richarvey commented on #61
We did have this until recently, I think it was dropped out when testing some of the git features. I agree we should add this back in. I'll get it done asap.

Ric

[2016-08-20 18:30] richarvey commented on #59
You'd have to pull the PHP code down and compile yourself rather than using APK to install as this is only going to install alpines latest version. Its something that at the moment is out of scope for us but in the future we may support versioned releases.

[2016-08-20 18:30] #59 closed

[2016-08-20 18:31] richarvey commented on #60
Thanks @infinitysgame We'll look at rolling those suggestions into the code.

Ric

[2016-08-20 21:30] infinitysgame commented on #60
@richarvey No. Thank you. Your Dockerfile has been a great guide for building my own images.

[2016-08-22 07:58] #61 closed

[2016-08-22 08:21] richarvey commented on #60
I've rolled in some of @infinitysgame suggestions, i haven't swapped the location of the php-fpm.conf as it had a few things missing. But i have updated the supervisor conf in a similar way.

@swoodford my output is now this:
[code]
Another thing I would suggest to @swoodford is to run it the container with -d instead of -ti you can then use ```docker exec -it <container> bash``` to shell into the

[2016-08-22 08:22] #60 closed

[2016-08-22 20:41] swoodford commented on #60
Thanks for your quick help @infinitysgame @richarvey !  This seems to be fixed now!!

[2016-08-25 06:03] MeowCold opened #62 "ZipArchive？"
![qq 20160825152537](https://cloud.githubusercontent.com/assets/7279597/17960366/3d449626-6ad8-11e6-8a8a-b818c92fe02a.png)
does not exist ZipArchive
ZipArchive must be available

[2016-08-25 08:56] richarvey commented on #62
@MeowCold New images are building now this should solve your issue.

[2016-08-25 08:56] #62 closed

[2016-08-25 10:54] MeowCold commented on #62
@richarvey Thank you very much for helping me this  who does not understand Dockerfile person。

[2016-08-27 07:37] virtuman opened #63 "Would you consider adding dynamic module support into nginx conf?"
Is it possible to use nginx image or package that has geoip and other dynamic modules? It would be great to be able to have that ability.

ie.  https://www.nginx.com/blog/dynamic-modules-nginx-1-9-11/

or possibly build the entire image from copy nginx:alpine https://github.com/nginxinc/docker-nginx/tree/master/mainline/alpine , it contains all dynamic modules and can be enabled if desired using E

[2016-08-28 21:31] richarvey commented on #63
I like the idea @virtuman I'll take a look

[2016-08-30 04:55] adrianocr opened #64 "Trying to build from the php7 branch gives the following errors:"
[code]

[2016-08-30 08:42] richarvey commented on #64
This sounds like a mirror issue downloading the packages, I'll investigate now

[2016-08-30 10:24] richarvey commented on #64
@adrianocr Looks like alpine has migrated php7 from testing tot the community repo. Other oddities are the php7-memcached package has gone.

I've now corrected and tested this in our build so it should work for you if you do a pull shortly.

[2016-08-30 10:27] #64 closed

[2016-09-01 10:29] richarvey opened #66 "Test issue"
Test issue on php-fpm

[2016-09-01 17:15] #66 closed

[2016-09-04 18:27] jlaswell opened #67 "Request to add session support"
By default, session support doesn't seem to be is not enabled. I know this prevents Laravel applications from working out of the box, but I think this may also affect Symfony's HttpFoundation component.

Would you consider adding `php5-session`/`php7-session` to the defaults?

[2016-09-06 06:42] richarvey commented on #67
I'll look at doing this today, I may also add a flag to allow you to point sessions at redis or memcache

[2016-09-06 20:10] richarvey commented on #67
@jlaswell it seems no need to do this in php5 however php7 needs the extra package you mention.

I'll be doing an update shortly.

[2016-09-06 20:19] richarvey commented on #67
PHP7 now has session support, enjoy ;)

[2016-09-06 20:19] #67 closed

[2016-09-06 20:23] jlaswell commented on #67
Awesome! Thanks!!

[2016-09-07 07:45] richarvey commented on #63
@virtuman I have a test version of php5 with dynamic module support, it would be great if you could test before i merge:

https://github.com/ngineered/nginx-php-fpm/tree/php5-dynamic

[2016-09-07 07:51] richarvey commented on #63
Task List:

- [x] Create php5 branch built from nginx:mainline-alpine
- [ ] Complete php5 tests
- [ ] Create php7 branch built from nginx:mainline-alpine
- [ ] Complete php7 tests
- [ ] Create php5-dynamic and php7-dynamic tags and images on docker hub for wider testing
- [ ] Merge Branches
- [ ] clean up branches (github)
- [ ] clean up testing tags (docker hub)

[2016-09-07 07:57] richarvey opened #68 "Create php5 branch built from nginx:mainline-alpine"
Work towards testing for dynamic nginx modules

[2016-09-07 07:57] richarvey opened #69 "Create php7 branch built from nginx:mainline-alpine"
Work towards dynamic nginx module support

[2016-09-07 07:58] richarvey commented on #68
entering testing

[2016-09-07 07:58] #68 closed

[2016-09-07 08:02] richarvey opened #70 "Create php5-dynamic and php7-dynamic tags and images on docker hub for wider testing"
Create auto builds for dynamic nginx module testing.

Getting feed back on these would be great, so please all go and test

[2016-09-08 16:58] belak0101 opened #71 "docker image php7 has wrong php-fpm sock location"
I just pulled the latest php7 image (`docker run --detach  richarvey/nginx-php-fpm:php7`) and I saw that I was getting this error:

`2016/09/08 16:34:43 [crit] 67#0: *15 connect() to unix:/run/php/php7.0-fpm.sock failed (2: No such file or directory) while connecting to upstream, client:`

I changed the location of the sock file in /etc/nginx/sites-enabled/default.conf to /var/run/php-fpm.sock and

[2016-09-08 17:15] belak0101 commented on #71
Sorry I looked at my system again and I was linking my old config in. `-v /srv/website/config:/etc/nginx/sites-enabled \`
That is where the wrong location came from.

[2016-09-08 17:15] #71 closed

[2016-09-09 09:58] richarvey commented on #69
completed

[2016-09-09 09:58] #69 closed

[2016-09-09 10:02] richarvey commented on #70
Images now on docker hub for testing

[2016-09-09 10:02] #70 closed

[2016-09-09 10:13] richarvey commented on #63
Hi @virtuman the test php5 and php7 images are in docker hub now.

Just use tags php5-dynamic or php7-dynamic when pulling. After wider testing we'll merge into the main images.

For example:

[code]

Ric

[2016-09-11 03:00] virtuman commented on #63
THANK YOU SO VERY MUCH !!! Much Appreciated !

[2016-09-13 20:52] nclavaud opened #73 "Host directory owner changes"
When mapping a host directory to the container volume `/var/www/html`, the owner of the host directory changes. This is annoying, because any update to the code will require changing the owner back.

[code]

I guess this is because of https://github.com/ngineered/nginx-php-fpm/blob/8137d2d0c5e1b9afa36ba2781a027184dc46ad4b/scripts/start.sh#L92-L93

Is it expected behavior, or am I missing something

[2016-09-14 08:24] richarvey commented on #73
Yeah its expected behaviour as it allows the web server to write to the directory, if you're uploading files or plugins like wordpress etc.

I could add a flag to stop change of ownership if you think it would be useful.

Ric

[2016-09-19 09:33] SamMousa opened #74 "Default redirect to /index.php"
I think nowadays most if not all PHP projects will use some kind of url rewriting that works by simply redirecting all files that are not found to an entry script.

Given some assumptions on configuration:
1. Your whole PHP project is outside yourwebroot.
2. There is 1 `index.php` file in your webroot that is the entry point for the application.
3. Any files in the webroot can be considered public

[2016-09-19 15:13] richarvey commented on #74
Hey @SamMousa,

Thanks for this, I know things like craft CMS usages this, but not sure if drupal or wp work in the same way. This is why we have the support for a custom nginx config. The config included will work with custom code or a single PHP page, the idea is to keep it generic.

Ric

[2016-09-19 15:13] #74 closed

[2016-09-19 15:15] richarvey opened #75 "Promote PHP7 to master"
As PHP5 becomes (all be it) soft end of life in December we need to start staging the master branch to become the master branch.

[2016-09-19 15:17] richarvey opened #76 "Swap docker hub to promote php7 as latest"
After the branches have been sorted in git hub, docker hub needs to be tweaked so that the "latest" tag and PHP7 tag are built from master and PHP5 is built from the old branch.

[2016-09-21 19:55] richarvey commented on #63
This has now been completed and merged into the default branches.

So you can now use:

[code]
As before I'll be removing the dynamic tags as testing has finished.

[2016-09-21 19:55] #63 closed

[2016-09-22 16:57] waterfoul opened #77 "run nginx"

[2016-09-22 16:57] #77 closed

[2016-09-22 20:03] richarvey opened #78 "Split documentation"
Split the docs up to make it easier to read and produce getting started guides

[2016-09-23 09:46] richarvey opened #79 "Strip out unused CSS on error pages"
The CSS file is large and contains unused features from the ngineered. this needs purifying so people can easily alter it.

[2016-09-23 09:47] #79 closed

[2016-09-23 12:39] ChristopheLecroq opened #80 "Exif PHP extension"
Hi,

I have a problem with the exif extension when I run my website on nginx-php-fpm container :

Error: Call to undefined function PHPExif\Adapter\exif_read_data()

My website runs well on my non-Docker installation (Archlinux/Nginx/PHP-FPM). Any ideas ? I've tried some tweaks but I didn't find nothing related to extensions.

Thank you !

[2016-09-24 19:36] richarvey commented on #80
Ill take a look at this asap

[2016-09-26 07:42] #80 closed

[2016-09-26 07:46] richarvey commented on #80
Hi @ChristopheLecroq this should now be resolved if you pull the new images. I've added php5-exif support and php7-exif support.

[2016-09-26 12:01] ChristopheLecroq commented on #80
Thank you very much ! I really appreciate :)

[2016-10-02 20:38] wuttinanTH opened #83 "index.php 404 Not Found"
When I try access page index.php it show "404 Not Found".no problem with index.html.
please help me for fix this problem thanks.

[2016-10-03 07:10] richarvey commented on #83
It sounds like your code isn't cloned properly, what do you get on the index page? Is it just the php info?

[2016-10-03 18:42] wuttinanTH commented on #83
Now it's worke. I do something wrong thank you for reply

[2016-10-03 18:42] #83 closed

[2016-10-10 16:19] stuartz-VernonCo opened #84 "php5-soap in php7 build"
Ran into issue of SoapClient not found on :php7  Looks like the extension for soap was missed as it is still php5.

[2016-10-10 16:28] blerko commented on #84
Hello, yes that looks like a typo in the Dockerfile, I will get that fixed as soon as I can

[2016-10-11 07:28] victor-lund opened #85 "mysql.default_socket missing?"
I installed this image (php7-bransch) and it looks like a phpinfo(); command gives me the following output:

[code]

However, when trying to connect to my database it appeared as if there was a problem with the socket so I had a look inside the container and could not find the /var/run/mysqld/ folder.

What am i missing?

Edit: I attached my log from nginx-php-fpm:

[nginx-php-fpm-log.txt](https:/

[2016-10-11 09:08] blerko commented on #85
Hello,

Am I right in thinking that you are running mysql in a separate container?

[2016-10-11 09:09] victor-lund commented on #85
That's correct!

[2016-10-11 09:41] blerko commented on #85
So I believe that the mysqld.sock is only available if you are running mysql locally (within the same container). Mysql server creates that socket file when it starts, you should see it in the mysql container you are running.  So you need to make a connection to the mysql container, how you do that depends on how you have set things up, but you should be able to connect to the mysql container acro

[2016-10-13 09:32] victor-lund commented on #85
Thank you - now solved the issue.

Closing

[2016-10-13 09:32] #85 closed

[2016-10-14 08:51] victor-lund opened #86 "Problems with Composer / Doctrine in nginx-php-fpm"
I'm having issues getting Composer to work in a convenient way, and running with Doctrine does not appear to work at all.

I'm trying to execute all my Composer commands from outside of my container - usually I'd do:

This unfortunately doesn't appear to work with this image - I'm getting the following error:

I can get around this problem with no real issue - executing:

This works - all my compo

[2016-10-14 09:34] blerko commented on #86
Well the pdo package should be installed OK, I'd check the output of phpinfo to see if there is something screwy like duplicate php.ini files, this stack overflow has some suggestions:

http://stackoverflow.com/questions/11813381/php-fatal-error-class-pdo-not-found

[2016-10-14 09:49] victor-lund commented on #86
Had a look in phpinfo - there is only one php.ini file: /etc/php7/php.ini

There is a path for additional ini files in: /etc/php7/conf.d containing:
[code]
Note that the database is on an external container (mariab image). Could this cause problems?

[2016-10-14 09:55] blerko commented on #86
What does phpinfo say about PDO?

[2016-10-14 10:05] victor-lund commented on #86
**PDO**

[code]
**pdo_mysql**
[code]
[code]

[2016-10-14 10:38] blerko commented on #86
What is extension_dir set to and does that have the pdo files in it?

See:
http://stackoverflow.com/questions/7126227/pdo-and-pdo-mysql-loaded-but-class-not-found

[2016-10-14 10:40] victor-lund commented on #86
extension_dir:	/usr/lib/php7/modules

I'll investigate the link and get back!

[2016-10-14 10:43] victor-lund commented on #86
OK, so i ran

and got the output:

Looks like things are in their right places...?

[2016-10-14 11:12] victor-lund commented on #86
So, this might also be interesting...

When listing installed composer's installed packages running:

[code]

Notet hor Phar and PDO is listed. How can composer not find Phar if the extension is listed as installed?

[2016-10-14 14:21] blerko commented on #86
That all looks OK to me, I am unsure what is going on here.

[2016-10-14 14:25] victor-lund commented on #86
@blerko I am currently having a discussion at composer/composer. They believe that an issue could be that the php7 branch of the nginx-php-fpm image contains php5 packages. (I believe they are refering to line 39 where php5-soap is installed).

Not really sure what's going on at line 105 and 106 either - Could php5 packages cause troubles in your opinion?

[2016-10-14 14:48] victor-lund commented on #86
The guys over at composer/composer appears to have been right. When i used the master branch (php5) instead of the php7 branch - everything worked as it should.

I would really like to use php7 however. I would suggest removing all the php5 references in the php7 branch - if you decide to do this I would gladly volunteer and test it! As for now I'll use the master branch!

[2016-10-14 14:49] blerko commented on #86
Yes we had a request to fix this, so I have just tried and the build failed, so I am not investigating that

[2016-10-14 15:14] victor-lund commented on #86
By the way - and this is off topic - when pointing to the image's php7 branch in my Dockerfile like this:

[code]

...the build works. However, when cloning the repo and building it - like this:

[code]
...it fails with the error message:
[code]

I narrowed it down to a problem with the php7-openssl package - could perhaps be something that needs fixing!

[2016-10-14 19:03] blerko commented on #86
Yes the php7-openssl package seems to be dependent on a couple of libraries that are available in the edge main repository. I have a working build but need to do some more investigation before I push any more changes.

[2016-10-15 11:17] blerko commented on #84
Sorry for the delay in getting this fixed, I have rebuilt the php7 branch. There are a few more changes there than I expected, but this should fix the php5-soap issue.

[2016-10-15 11:17] #84 closed

[2016-10-15 11:19] blerko commented on #86
I have got the build to work finally, there is some issue with docker hub and automated builds that I've just come across. Anyway I have fixed the php7-openssl build problem (I think) and expunged references to php5, let me know if that works for you.

[2016-10-20 04:35] aifarfa opened #89 "letsencrypt-setup changes $WEBROOT back to default path"
when i ran docker with WEBROOT specified

[code]

then i got 404 response from `https://` (tcp/80 works just fine)

i found that the `/etc/nginx/sites-enabled/default-ssl.conf` has been changed from `/var/www/html/public` to `/var/www/html`

[2016-10-28 09:34] richarvey commented on #89
Ahh ok,

good spot, I'll look at fixing this asap

[2016-10-28 09:41] #89 closed

[2016-10-28 09:52] richarvey commented on #86
Just a comment in your docker exec commands you dont seem to be using the -it flag which gives you an interactive terminal so you can use the cli tools.

[2016-11-04 20:30] #86 closed

[2016-11-11 00:00] richarvey commented on #75
created php5 branch in git and made docker hub build tag from that

[2016-11-11 00:01] richarvey commented on #75
Need to Add PHP7 is now default to readme and promote when change happens

[2016-11-14 03:12] aamche opened #93 "php mail / sendmail doesn't work"
Error: "sendmail: can't connect to remote host (127.0.0.1): Connection refused"

Steps to reproduce: Use php mail function or the sendmail function, check logs for error. It seems sendmail is installed. I can run it from the console, but returns the above error.

OS: Ubuntu 16.04
Other containers jwilder/nginx-proxy | thomastweets/docker-letsencrypt-nginx-proxy-companion

[2016-11-24 22:40] icy commented on #93
the sendmail daemon is not started by default

[2016-11-25 13:21] SamMousa opened #95 "Autorun composer install"
Doesn't it make sense to run composer install on start if a composer.lock is found?

[2016-11-27 12:46] victor-lund commented on #93
@icy I have thet same issue - how do i start it?

[2016-11-28 08:27] SamMousa opened #96 "PHP7 Does not have php alias."
When using the php7 tag the php cli is not available as `php`, instead it is only available as `php7` which breaks things like composer.

[2016-11-28 20:56] virtuman opened #97 "Just out of cruiosity - has anyone tried to use this image in PROD env with high traffic?"
Image looks pretty simple and good, has anyone ever tried using it in production environment? is it able to sustain high load?

[2016-11-28 20:59] virtuman commented on #73
wouldn't it be better to use best-practices with GID and UID mapping?
ie: create user and group with specified IDs, if IDs are defined in environment vars.

sample implementation:
https://github.com/sameersbn/docker-gitlab#host-uid--gid-mapping
https://github.com/sameersbn/docker-gitlab/search?utf8=%E2%9C%93&q=USERMAP_GID

[2016-11-29 04:00] virtuman commented on #73
in the case of your image, the easiest would be something like:
ENV USERMAP_UID=101
ENV USERMAP_GID=100

addgroup -gid USERMAP_GID nginx && \
useradd -g USERMAP_UID -u USERMAP_UID nginx && \

[2016-11-29 04:02] virtuman commented on #73
And it's still beneficial to have an ability to bypass ownership change, ie. wordpress would have only few folders writable by php-fpm user, and the rest should be read only

[2016-11-29 09:44] SamMousa commented on #96
https://bugs.alpinelinux.org/issues/6450

[2016-12-02 05:15] aamche commented on #73
Docker also has the --user flag when creating containers. Is it possible to map to that? then no need to add extra variables, and could use docker functionality.

[2016-12-02 14:53] ErikFontanel commented on #75
I noticed that the PHP7 branch pulls Alpine 3.4, hard coded. Not edge or latest tags, like master), Why is that? I had some trouble today because I learned that Alpine 3.4 comes with Nginx 1.10.2 instead of 1.11.x.

[2016-12-02 15:58] vitorsdcs commented on #9
@richarvey Why was the MongoDB driver removed?

[2016-12-09 01:40] aamche commented on #93
@victor-lund
Probably a start script, although I've not actually attempted it.
https://github.com/ngineered/nginx-php-fpm/blob/master/docs/scripting_templating.md

[2016-12-09 01:40] #93 closed

[2016-12-09 04:43] icy commented on #93
@victor-lund My team is using an external mail service instead (e.g, amazon SES). You need to use `RUN_SCRIPTS=1` ( as @aamche  mentioned ) to start a sendmail daemon (e.g, exim4 or postfix.)

[2016-12-17 19:47] prometherion commented on #96
+1

[2016-12-30 17:50] Coobers commented on #97
Yes, it leaks a lot of memory. We did a frequent restarts to sustain it, a global docker problem.
Otherwise speed scales pretty well, but fpm and nginx require adjusting, because they run multiple processes, which is a bottleneck on single instance.

[2016-12-30 19:03] icy opened #101 "cake/php migration won't work"
as `GLOB_BRACE` is not defined on alpine system.

[2017-01-03 08:59] richarvey commented on #95
would this need to be run if the site was updated also?

[2017-01-03 09:01] richarvey commented on #96
Looks likes this may have been resolved upstream? I'll re-roll the packages today

[2017-01-03 09:01] #96 closed

[2017-01-03 09:01] richarvey commented on #97
@Coobers do you have any info on your tweaks that we can roll into this?

[2017-01-03 09:06] SamMousa commented on #95
Yes!

On Jan 3, 2017 10:03, "Ric Harvey" <notifications@github.com> wrote:

[2017-01-03 09:17] richarvey commented on #75
It should be pulling edge hard coded. Its the only way to satisfy install deps without breaking.

[2017-01-03 09:20] richarvey commented on #75
Switched master to PHP7

[2017-01-03 09:20] #75 closed

[2017-01-03 09:20] richarvey commented on #76
done

[2017-01-03 09:20] #76 closed

[2017-01-03 09:32] richarvey commented on #95
Ok where would the composer file live? Would you always include in the root? Also would it be the lock file we look for or a json file?

[2017-01-03 09:33] richarvey commented on #101
We have had this issue before and its to do with upstream alpine and libc.

We can't fix this one yet.

[2017-01-03 09:33] #101 closed

[2017-01-03 09:42] Coobers commented on #97
We'll have some in future, to control multi-threating processes for fpm and nginx and fixes for gettext. No pull date yet.

[2017-01-03 10:48] SamMousa commented on #95
A lock file definitely and I think it must be in the root (not sure)

On Jan 3, 2017 10:32 AM, "Ric Harvey" <notifications@github.com> wrote:

[2017-01-03 17:34] #97 closed

[2017-01-03 17:37] richarvey commented on #95
@SamMousa are you sure about the lock file i thought that was auto created when you ran composer:

https://daylerees.com/the-composer-lock-file/

I may be wrong here so any help greatly appreciated. From reading that on a git pull I'd run composer install if there was a composer.json file in the root directory.

[2017-01-03 18:46] SamMousa commented on #95
Yes it is created and contains the exact commit hash of each dependency.
For non libraries it is committed to version control (to guarantee a test
environment exactly the same as the production environment).

See
https://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file

On Jan 3, 2017 18:37, "Ric Harvey" <notifications@github.com> wrote:

[2017-01-04 17:19] richarvey commented on #95
We'll spin up a new branch asap with this in to test.

[2017-01-04 21:02] woopstar opened #103 "Exit when git clone fails"
You should consider adding `|| exit 1` to all `git clone` commands in the `start.sh` script.

Here is an example of what can happen while cloning, but the error is not detected and the container will start

[code]

[2017-01-04 21:05] woopstar opened #104 "webroot variable in start.sh never used"
The `webroot` variable in `start.sh` is never used. If you define a custom webroot the variable containing it is never used.

I suspect that these chowns `chown -Rf nginx.nginx /var/www/html` should be changed to `chown -Rf nginx.nginx $webroot`

Also, the RUN_SCRIPTS depends on the default webroot and not the custom webroot. Or I suspect that because it's hardcoded to` if [ -d "/var/www/html/scri

[2017-01-06 09:19] richarvey commented on #103
This is a good idea, I'll roll it out now

[2017-01-06 09:22] #103 closed

[2017-01-06 09:24] richarvey commented on #104
so $webroot at the moment always has to be a sub folder in /var/www/html hence the hard coding. Its something that needs fixing at some point.

[2017-01-06 09:24] #104 closed

[2017-01-06 14:56] richarvey commented on #95
Hi @SamMousa I've committed some code that "should" run install when you first launch the container and if you do a pull to update the code it should run an update.

Can you check this functionality behaves as expected.

Cheers Ric

[2017-01-06 17:53] SamMousa commented on #95
Will do next week.

On Jan 6, 2017 3:56 PM, "Ric Harvey" <notifications@github.com> wrote:

[2017-01-08 01:08] fflo opened #106 "logfile remote IP address using nginx-proxy"
Hi,

thanks for this great image 👍

I'm using it in combination with jwilder/nginx-proxy and JrCs/docker-letsencrypt-nginx-proxy-companion - that's awesome!

To get nginx-wordpress-docker logging the correct remote IP address using jwilder/nginx-proxy I had to add the following to lines to default.conf:

real_ip_header X-Forwarded-For;
set_real_ip_from 172.16.0.0/12;

Maybe you have an idea howto

[2017-01-09 09:23] richarvey commented on #106
That sounds like a good idea. We'll look at integrating that.

[2017-01-09 10:23] SamMousa commented on #95
@richarvey Just had a chance to look at the implementation and it doesn't work for my case.

The convention is to put `composer.lock` is in the project root, not in the webroot. My project(s) use a `public` folder as the webroot, the code you've added searches for composer.lock in this webroot directory; instead it should be searched for in the project root. I'll add some comments to the commit as

[2017-01-09 10:25] SamMousa commented on #95
Also note, that there is technically no need to check for the existence of a composer lock file; if you just ru composer install you'll get this in case it can't run:
[code]

[2017-01-09 10:50] richarvey commented on #95
Right I think i understand now. Let me add some variables and see if we can get this working.

[2017-01-09 13:04] SamMousa commented on #95
@richarvey Also add `--no-dev`, since dev dependencies shouldn't be installed on production environment (alternatively use a variable for this)

[2017-01-09 13:44] SamMousa commented on #74
I've done some research on the different PHP frameworks and common apps.

Frameworks supporting / requiring redirect to `ROOT/index.php` for files that are not found:
- Yii2
- Wordpress (https://codex.wordpress.org/Nginx#General_WordPress_rules)
- Drupal (https://www.nginx.com/resources/wiki/start/topics/recipes/drupal/)
- CodeIgniter (https://www.nginx.com/resources/wiki/start/topics/recipes/code

[2017-01-17 14:08] TheCodeEngine opened #107 "Support for PHP 7.1"
Thanks for this great Image 👍

It is possible to support PHP 7.1 ?

[2017-01-17 17:47] richarvey commented on #107
I'll look into it. It'll mean building from code so I'll look at tweaking things about.

[2017-01-25 12:10] SamMousa commented on #74
@richarvey Could you look at this again please?

[2017-01-29 16:24] denji opened #108 "webhook via gitlab/github support?"
* https://github.com/adnanh/webhook/wiki

[2017-01-31 09:52] alihasanzaade commented on #73
Please fix this issue

[2017-02-05 21:29] richarvey commented on #107
This is now underway

[2017-02-05 22:51] richarvey commented on #108
nice idea but would change the core packages needed.

[2017-02-05 22:51] #108 closed

[2017-02-05 23:09] richarvey commented on #107
@TheCodeEngine please try

[code]

### Things left to do:

- test all the scripts
- reduce image size
- update doc's showing how to install php modules

[2017-02-06 07:03] richarvey commented on #107
Spotted a few issues with the sed commands. Will fix shortly

[2017-02-07 10:22] richarvey commented on #107
Issues should be fixed, I've sucessfully deployed a site through this and modified variables etc etc

[2017-02-08 10:57] x86fantini opened #110 "Passphrase for key if using SSH for GIT/Bitbucket"
Hi, i'm tring to use ssh to autodownload my repo from bitbucket. i have managed to add all variables and at boot, my container tries to download repo but get stuck. After second/third restart i can log in and if i issue /usr/bin/pull, it asks for passfrase

/ # /usr/bin/pull
Enter passphrase for key '/root/.ssh/id_rsa':

i'm using a Mac 10.12.3 Sierra, and i have base64 command via "brew" that doe

[2017-02-08 11:35] x86fantini commented on #110
i have managed to solve it.

docs says

`base64 -w 0 /path_to_your_key`

but it's unclear, i mean it's not 100% failproof.

i was running `base64 -w 0 .ssh/id_rsa.pub` but all i needed is to run `base64 -w 0 .ssh/id_rsa`

now it's working, i suggest to edit the manual , if this can help

S

[2017-02-08 20:45] exetico commented on #33
Hi'

How did it go? I hardly need php_sockets but can't find the right way to make it.

[2017-02-09 17:07] richarvey commented on #33
Hey, so we now are on php 7.1 built from the official php image.

If you bash into the container you should be able to use the commands to install plugins. I'll document it soon.

Ric

[2017-02-09 17:08] richarvey commented on #110
good idea I'll clarify this

[2017-02-09 17:10] #110 closed

[2017-02-09 17:10] richarvey commented on #107
7.1 is now the default

[2017-02-09 17:10] #107 closed

[2017-02-10 08:13] exetico commented on #33
@richarvey - Thanks for your answer.
After some time i skipped your docker and did go with nasqueron/nginx-php-fpm - and find out how to add ext's. But, today i tested it again.

It works just like it should, so i'm back at richarvey/nginx-php-fpm :)!

Join)
docker exec -t -i nginx /bin/bash

Run)
/usr/local/bin/docker-php-ext-configure sockets
/usr/local/bin/docker-php-ext-install sockets

Exit a

[2017-02-10 09:11] richarvey commented on #33
you dont need to kill the container simply run:

```supervisorctl restart php-fpm```

Ric

[2017-02-10 10:06] richarvey commented on #106
This has been added and we are now pushing out a new version

[2017-02-10 10:07] #106 closed

[2017-02-10 10:33] richarvey commented on #73
Has anyone got a working pull request for this. We'll need to change the running user of nginx and php-fpm also.

Ric

[2017-02-10 10:33] richarvey commented on #78
this has been started

[2017-02-10 10:33] #78 closed

[2017-02-11 22:18] royrico commented on #73
running into this issue too.

Here's a possible solution:
create a completely new user based upon user&group ids passed into the container
have NGINX run as that user

based upon example here:
https://github.com/linuxserver/docker-baseimage-alpine/blob/master/root/etc/cont-init.d/10-adduser#L19

if you think this solution is appropriate, I can take a stab at implementing this, then can submit a PR

[2017-02-12 00:13] graymic opened #112 "Bug with conf/nginx/nginx-site.conf"
When in the **root** of a project, if you create the `conf/nginx/nginx-site*.conf`

If you were to add anything:

[code]

Typically the EOF is missing when copied into the container upon performing a `docker-compose up -d` this yield an nginx critical error. I found this after a while of hunting through `/etc/nginx/sites-available/`

My own workaround within compose thus far has been:

[code]

[2017-02-12 23:07] richarvey commented on #73
I'm going to check this out in the morning and get it merged

[2017-02-13 10:21] richarvey commented on #73
commit 4cfc4cb998f4b981ff5b5b97d37111dc7a874dd4 fixes this enjoy!

[2017-02-13 10:21] #73 closed

[2017-02-16 09:18] richarvey commented on #112
Could you post the steps to recreate this issue please

[2017-02-16 17:03] atlasnetwork opened #114 "make release versions tags"
Occasionally, using the latest tag, new updates will break existing deployments.  For example, the addition of REAL IP / X-Forwarded-For Headers for deployments behind ELBs caused some issues.

Using version numbers as tags for docker image builds would allow for people to update on their own schedule, and those that wish can stay on the latest tag.

[2017-02-16 17:23] richarvey commented on #114
Agreed, this is on my todo, i'm looking to do github versions and also open an LTS tag in docker hub that will be semver , however I'm open to suggestions.

[2017-02-16 17:28] atlasnetwork commented on #114
That sounds great, thank you.  If you are looking for a good example, I
feel that https://github.com/sameersbn/docker-gitlab /
https://hub.docker.com/r/sameersbn/gitlab/ has done a good job of it.

Thanks for sharing this project.

On Thu, Feb 16, 2017 at 12:23 PM, Ric Harvey <notifications@github.com>
wrote:

[2017-02-16 17:29] richarvey commented on #114
@sameerbn does great work :) will take a look

[2017-02-16 20:27] powernic opened #116 "Install the Imagick PHP extension"
How to install imagemagick?

[2017-02-16 21:18] #116 closed

[2017-02-17 11:11] richarvey commented on #114
This is underway, starting with 1.1.1 with 1.1.2 to follow shortly. The documentation as of 1.1.2 will also explain the versioning.

[2017-02-17 11:11] #114 closed

[2017-02-20 09:05] SamMousa commented on #74
@richarvey bump

[2017-02-27 09:59] SKoschnicke commented on #95
I don't think this is working is intended. The startup script checks for a composer.lock file in the *webroot* and executes the composer in the *project root* then.

If webroot is not the same as project root, either the check for the composer.lock file does not work (because composer.lock is located in the project root) or the composer command does not find the composer.lock file (because the com

[2017-02-27 10:08] SamMousa commented on #95
@SKoschnicke I think the run command is just wrong. Composer is already included in the image.

https://github.com/ngineered/nginx-php-fpm/blob/master/Dockerfile#L177

[2017-02-27 11:15] SKoschnicke commented on #95
I see. Good to know! The other problems are still valid, though.

[2017-03-01 02:28] aamche opened #119 "php 7.0"
Is it possible to keep an php 7.0 version. Php 7.1 implements some changes that breaks things.

[2017-03-01 02:30] aamche commented on #119
Opps, my bad. Seems the php7 tag is still valid. Perhaps php7 and php5 tags could go on the versioning doc.

[2017-03-04 01:35] jnovack opened #120 "Custom rewrites and other modifications"
Right now, the `default.conf` and `nginx.conf` are static.

Rather than export your pre-generated `confs` and overwrite them, I was hoping we could allow for include directives inside the conf files so we can optionally inject customizations.

**nginx.conf**
[code]

**default.conf**
[code]

This way, I can mount my snippets volume and have nginx completely customized.

Example use case is any site

[2017-03-04 02:05] jnovack opened #121 "/var/www/html nuke may be overkill"
This makes it EXTREMELY hard to pre-populate the `/var/www/html/` directory with volumes...

https://github.com/ngineered/nginx-php-fpm/blob/master/scripts/start.sh#L40

**start.sh**
[code]

I can't `docker volume` in any files (like a `config.php`) or any directories into `/var/www/html/`.

I would humbly propose `rm -Rf /var/www/html/index.php`.

[2017-03-08 04:59] aamche commented on #119
php 7.1 breaks mcrypt_create_iv in codeigniter which could be a problem.

[2017-03-09 14:42] raimonbosch opened #122 "Adapt CPU and memory limit to your current infrastructure"
Hi,

Is it possible to adapt the worker_processes to the number of CPUs you have available? Also it would be great if you could adapt your php memory limits to your RAM available.

I guess there are several solutions that could work well. Here is an example for memory tuning  http://drupalwxt.github.io/performance/apache-fpm/

Thanks in advance,

[2017-03-10 20:18] iSDP commented on #121
I'd rather like to see an environment variable (USE_GIT)

[2017-03-11 16:07] iSDP opened #123 "OPCache not installed by default"
Hey.

It appears you didn't install OPCache by default.
This is an important plugin when it comes to performance, and installing it afterwards is an extreme hassle because it needs scripts.

[2017-03-14 16:08] aschonbe opened #124 "Composer Installer Hash Issue"
The Composer Installer SHA384 hash is hard coded in the Dockerfile as the variable "composer_hash". This hash is specific to a version file.

Conversely, composer is downloaded from https://getcomposer.org/installer, which serves the latest version of the installer:

`   php -r "if (hash_file('SHA384', 'composer-setup.php') === '${composer_hash}') { echo 'Installer verified'; } else { echo 'Instal

[2017-03-14 19:09] aschonbe commented on #124
[Pull request 125](https://github.com/ngineered/nginx-php-fpm/pull/125)

[2017-03-15 09:32] richarvey commented on #124
All merged many thanks!

[2017-03-15 09:32] #124 closed

[2017-03-15 09:33] richarvey commented on #120
You can override the nginx config

https://github.com/ngineered/nginx-php-fpm/blob/master/docs/nginx_configs.md

Ric

[2017-03-15 09:33] #120 closed

[2017-03-15 09:34] richarvey commented on #119
The tags remain however we aren't actively supporting them due to workload hence not being on the versioning document.

[2017-03-15 09:34] #112 closed

[2017-03-15 20:03] aamche commented on #119
Thanks Richard, for all your hard work.

I'll close this. I've made the developers upgrade there stuff to from 7.0 and 7.1.

[2017-03-15 20:03] #119 closed

[2017-03-16 10:36] #123 closed

[2017-03-16 10:38] iSDP commented on #123
Thanks for fixing!

Don't forget to add:
[code]

[2017-03-16 11:21] richarvey commented on #121
@iSDP i like that idea if I set up USE_GIT=1 as default and nothing changes in the script but if you set USE_GIT=0 we dont

[code]

[2017-03-16 11:22] iSDP commented on #121
Sounds fine to me :)

[2017-03-16 16:30] richarvey commented on #121
New flag will be REMOVE_FILES=0

[2017-03-16 16:30] #121 closed

[2017-03-16 16:34] iSDP commented on #121
Rather hoped for the ability to completely shut off the Git functionality.

It's really annoying to have to make a gazillion commits to update the files on my server properly =[

[2017-03-16 16:47] richarvey commented on #122
I'll look into this, we might need a flag to enable it to stop it automatically using everything on a system. In the meantime you can use custom nginx configs

[2017-03-16 16:49] richarvey commented on #95
@SKoschnicke sorry for the slow reply. I'd love some help with this. I've just merged in a better way to install composer but could you help with fixing the other issues please?

[2017-03-16 18:17] SKoschnicke commented on #95
I'm currently ill but I think I can look into it on monday!

[2017-03-16 18:28] jnovack commented on #121
@richarvey Excellent, thank you!

And I kinda agree with @iSDP @iSDP Are you just mounting in your `/var/www/html`, if so, this command neither helps nor hurts because the conditional isn't running.

If you are talking about developing within the container, then you'll definitely WANT to use a mount.  Edit locally, refresh in container.  But to stop it from removing the `/var/www/html/*` files, ju

[2017-03-16 18:31] iSDP commented on #121
@jnovack what if you want to track your code in git but don't want the container to do it's git stuff then?

Explicit defining is always better than implicitly through a folder's existence.

[2017-03-16 18:40] jnovack commented on #121
Mount the *git-versioned* source directory on your host as `/var/www/html` read-only and DO NOT set any `GIT` variables.  The `start.sh` script finds the `/var/www/html/.git/` directory, and does nothing else.

[2017-03-17 22:01] roddypratt opened #128 "Using environment vars in nginx-site.conf"
I'm trying and failing to do something like this in my nginx config.

[code]

Problem is that 'env' can't be used here because we're not at the top level of the .conf file.

`nginx: [emerg] "env" directive is not allowed here in /etc/nginx/sites-enabled/default.conf:1`

Ideally I'd be able to have a local version of nginx.conf in /var/wwww/html/conf, as well as the individual sites-enabled files.

[2017-03-19 11:08] alex-chan opened #129 "apt-get: command not found ?"
`docker run richarvey/nginx-php-fpm`
then run `docker exec -it keen_thompson bash`
in docker: `bash-4.3# apt-get
bash: apt-get: command not found `

[2017-03-20 09:06] richarvey commented on #129
HI @alex-chan the image runs alpine linux, try using:

```apk search <PACKAGE_NAME>```

and

```apk add <PACKAGE_NAME>```

[2017-03-20 09:06] #129 closed

[2017-03-22 08:00] cooka opened #131 "would this image support oci8 for oralce"
Oracle db is widely used, it would be great to support oci out-of-box.

install oci separately is complicated.

Thanks.

[2017-03-22 21:25] arocki7 opened #132 "Looks like an issue with php"
As usual, I deployed with the latest version and I got php errors in my web page.

PHP logs were not generating either.

[2017-03-23 16:08] richarvey commented on #128
Makes sense we'll look into it

[2017-03-23 16:08] richarvey commented on #132
can you show some output? screenshot maybe?

[2017-03-24 20:21] arocki7 commented on #132
Hi Ric,

Problem is due to PHP5 to 7 upgrade. It has the explanation in the following links. I have similar issues with session as well.

https://github.com/symfony/symfony/issues/18574

https://github.com/bcit-ci/CodeIgniter/issues/4830

https://github.com/joomla/joomla-cms/issues/7143

Thanks.

Regards,
Arockiasamy

[2017-03-27 07:45] SKoschnicke commented on #95
In case nobody noticed: I fixed the issue in #130

[2017-03-28 14:45] lukescammell commented on #131
Apologies to the creator if I’m wrong on this, but I think this request is slightly out of scope for this particular project. Perhaps take a look at this instead?

https://hub.docker.com/r/unitekgsteam/nginx-php-fpm-oci8/

[2017-03-29 03:53] nalsas commented on #132
Hi, I also run into session issues with this version of php7.1.2.  After investigation, i think the problem could related to the php issue below:

[If getrandom syscall is unavailable (ENOSYS), try to fallback on /dev/urandom #2385](https://github.com/php/php-src/pull/2385)

FYI, I tried upgrade php7.1.2 to php7.1.3, then the session issue has gone.

Thanks.

[2017-03-30 18:55] ysangkok opened #134 "inconsistent version listings"
github lists an 1.1.7 tag but there is no corresponding image on docker hub. also, https://github.com/ngineered/nginx-php-fpm/blob/master/docs/versioning.md lists only until 1.1.6.

[2017-03-30 23:17] arocki7 commented on #132
I tried to upgrade and test with 7.1.3 - no luck.

I used the docker image tag php7 and it worked. Not sure how the future going to be with PHP.

Thanks.

[2017-04-03 10:18] richarvey commented on #95
@SKoschnicke Apologies been really busy will get this done asap

[2017-04-13 23:33] jamiegood opened #137 "Anyone managed to run this on osx?"
My docker ps $DOCKER_ID gives "IPAddress": "172.17.0.2"

However that IP times out in the browser.

Though if I ssh in to the container I can curl http://localhost and see my PHP output.

Any ideas?

[2017-04-13 23:43] jamiegood commented on #137
Ok so if i put -p 80:80 to the docker run command like this. it works.

docker run --p 80:80- d -e 'GIT_EMAIL=email_address' -e 'GIT_NAME=full_name' -e 'GIT_USERNAME=git_username' -e 'GIT_REPO=github.com/project' -e 'GIT_PERSONAL_TOKEN=<long_token_string_here>' richarvey/nginx-php-fpm:latest

:

[2017-04-14 20:41] mralexho commented on #122
@raimonbosch since nginx 1.3.8+, assigning worker_processes are no longer required. Nginx will automatically figure that out.

https://nginx.org/en/docs/ngx_core_module.html#worker_processes

[2017-04-15 16:01] #137 closed

[2017-04-18 08:44] #95 closed

[2017-04-18 08:48] richarvey commented on #132
Upgrading to 7.1.3 now, this seems an upstream issue. As soon as 7.1.4 image is released I'll bump again

[2017-04-18 08:48] #132 closed

[2017-04-18 08:48] #131 closed

[2017-04-18 08:49] richarvey commented on #134
I'll fix this, github was having issues with its web hooks

[2017-04-18 08:49] #134 closed

[2017-04-25 19:30] that0n3guy opened #138 "Add xdebug (disabled)"
Could you add xdebug to this?   A `docker-php-ext-enable xdebug` doesn't work without running this first:

[code]
The command `pecl install xdebug` would be super easy to add to your dockerfile.

Should probably add an env var for `XDEBUG=1` so its enabled on the startup script as well.

[2017-04-26 13:58] cgarnier opened #139 "/var/www/html should not be a volume"
You should remove this line.
[code]
Putting the app inside a volume is not a common way to use docker.
You should ADD the app files and VOLUME the folder you need to persist.

If you need a volume for dev purpose just do it in a docker-compose or with the cli.

[2017-04-27 21:45] rickshawhobo opened #140 "Please remove phpinfo"
Having phpinfo() in the default config index.php could be dangerous. I suggest phpversion() or a simple `echo "php works"; `

[2017-05-03 16:25] ixodie opened #141 "php extensions"
Is there any support for installing php extensions during container creation?

[2017-05-04 14:12] blerko commented on #141
Would the scripting facility fulfil this?

https://github.com/ngineered/nginx-php-fpm/blob/master/docs/scripting_templating.md

[2017-05-05 14:23] dimsav opened #142 "Laravel support"
I know this has been mentioned again in #74 but I believe it would worth adding a laravel compatible nginx config file into the documentation. I would open a PR but I'm not sure where to put this.

A config file that has has worked for me is the following:

[code]

[2017-05-10 06:54] newrey opened #143 "php-fpm.sock failed on long run"
log here:
2017-05-10T06:50:00.434167704Z 2017/05/10 06:50:00 [error] 23#23: *423240 connect() to unix:/var/run/php-fpm.sock failed (11: Resource temporarily unavailable) while connecting to upstream, client: 172.18.0.1, server: *.*.org, request: "GET /-xxx-selecti HTTP/1.0", upstream: "fastcgi://unix:/var/run/php-fpm.sock:", host: "xxx.org"

[2017-05-10 14:09] rickshawhobo commented on #142
Agreed it is very annoying that it doesn't work out of the box for many modern php frameworks

[2017-05-14 21:45] dimsav commented on #142
Unfortunately even this nginx config doesn't make the image compatible with laravel as some dependencies I think bcrypt are missing.

[2017-05-14 21:45] #142 closed

[2017-05-15 16:46] rickshawhobo commented on #142
Weird @dimsav I'm running laravel 5.4 just fine with this image, with that small change to nginx

[2017-05-19 07:52] kevins1022 opened #144 "ERROR: unsatisfiable constraints:"
when i use:
[code]
i meet the error

[code]

how to solve the problem?

[2017-05-24 11:19] SamMousa opened #145 "Add support for healthchecks"
It would be nice to support a healthcheck URL that is configured in NGINX to always return a http `200`.

[2017-05-24 11:20] SamMousa opened #146 "Composer install order"
Composer install should be run after custom scripts have been run.

These custom scripts could for example:
- Install dependencies that the app requires in `composer.json` (php extensions).
- Install global composer plugins `fxp-composer-asset-plugin`.

[2017-06-11 23:32] llbbl opened #147 "Question: Want Xdebug for local dev"
missing from /usr/local/bin/docker-php-ext-install
[code]

doesn't work
[code]

in the container attempts
[code]

Alpine may be small but its fucking annoying. Anyone get this working?

[2017-06-11 23:38] llbbl commented on #147
Nevermind!

[code]

@that0n3guy fixed it

[2017-06-11 23:38] #147 closed

[2017-06-11 23:41] llbbl commented on #138
@that0n3guy Hey thanks very much for this. I tried adding gcc and autoconf but was missing a bunch of other stuff that pecl needed.

I got this working locally by creating a new repo and my own Dockerfile and Dockerfile.development with docker-compose.yml file.

This is what top of Dockerfile.development looks like now thanks to you!

[code]

[2017-06-12 13:35] that0n3guy commented on #138
@llbbl Glad it worked for you.    This is my local dev dockerfile file:

[code]

You can see I don't copy the xdebug.so file over yet.    I do that in a script.  I have a script called 03-enable-xdebug.sh that looks like:

[code]

That way you can enable it with an environment variable `ENABLE_XDEBUG = 1`

Then in my docker-compose file I have some env vars:
[code]

[2017-06-12 13:41] llbbl commented on #138
@that0n3guy that is much better way to do it. Good job. You should fork and submit a PR!!  Thank you for your contributions. 👍

[2017-06-16 09:18] cre8 opened #148 "start.sh not found after build"
I built the image myself without any error. My steps
[code]
 But when I want to start it it throws this error:
`/usr/local/bin/docker-php-entrypoint: exec: line 9: /start.sh: not found`

[2017-06-20 06:13] mrjnamei opened #150 "how to install swoole"
i try install swool use this
[code]
could not find autoconf
then i run
[code]
bash-4.3# pecl install swoole
downloading swoole-1.9.13.tgz ...
Starting to download swoole-1.9.13.tgz (573,631 bytes)
......................................................done: 573,631 bytes
206 source files, building
running: phpize
Configuring for:
PHP Api Version:         20160303
Zend Module Api No:      20160303
Z

[2017-06-20 07:02] #150 closed

[2017-06-23 02:15] comeUpWithItLater opened #152 "for dev purpose"
I want to use this image for dev   purpose . how to  prevent   the start script to purge the dev lib ?

[2017-06-23 08:26] richarvey commented on #140
Its purely for information so you can see whats installed and gets overwritten as soon as you pull code in.

[2017-06-23 08:26] #140 closed

[2017-06-23 08:35] richarvey commented on #148
I can't replicate this error so closing. Please make sure you have the latest repo pulled.

[2017-06-23 08:35] #148 closed

[2017-06-23 08:38] richarvey commented on #152
modify the docker file and build a custom image.

[2017-06-23 08:38] #152 closed

[2017-06-23 08:39] richarvey commented on #144
it could of been a error at the repository end, this doesnt seem to be an issue currently

[2017-06-23 08:39] #144 closed

[2017-06-23 08:40] richarvey commented on #143
hmm this is intriguing how long is a long run? We have some containers that have been running months.

[2017-06-23 08:41] richarvey commented on #141
yes you could use those scripts for this

[2017-06-23 08:41] #141 closed

[2017-06-23 08:42] richarvey commented on #138
has anyone got a PR for this?

[2017-06-23 08:42] #138 closed

[2017-06-23 09:00] #122 closed

[2017-06-23 12:47] llbbl commented on #138
@richarvey I didn't have chance to do it yet. What was your decision regarding this feature, supported by extending your base image?

[2017-06-23 16:45] that0n3guy commented on #138
@richarvey I added a PR.    I'm building now and will test it when its done.

One thing I don't know about is why you have two `apt add` sections in the dockerfile.   Its probably my lack of experience with alpine.    Should I stick my `pecl install xdebug` in the `apt add @testing` section or the `app add --virtual` section... does it even matter?

[2017-06-30 09:41] hkeio commented on #146
Maybe we can also add a config flag so we can decide if we want dev packages to be installed? I could open a new issue and create PR for this.

[2017-07-06 06:39] TheBoroer commented on #144
@richarvey

Issue still exists in the PHP5 branch (not the php7 branch).
The problem is that the "php-redis" package is no longer in the alphine testing branch. You can just grab the legacy redis package from here: https://github.com/IFSight/docker-php/tree/master/alpine/3.5/php56-sec/packages

What I did in my fork was just remove the `php5-redis@testing \` from line 42 and added the snippet belo

[2017-07-09 19:57] MironowDW opened #154 "How php processes /login/ url?"
File nginx-php-fpm/conf/nginx-site.conf:25
`try_files $uri $uri/ =404;`

Url /login/ return 404, how can i rewrite with url to /index.php ?

[2017-07-10 12:45] richarvey commented on #154
see this section:

https://github.com/ngineered/nginx-php-fpm/blob/master/docs/nginx_configs.md

[2017-07-10 12:45] #154 closed

[2017-07-19 02:52] ninpu opened #155 "Nginx config path in repo_layout.md wrong"
Hi,
I want to custom my nginx config modify `try_files` to use Wordpress,  followed https://github.com/ninpu/nginx-php-fpm/blob/master/docs/repo_layout.md#repository-layout-guidelines,  I set my confg file `default-site.conf`  but failed. Checking https://github.com/ninpu/nginx-php-fpm/blob/master/scripts/start.sh found
[code]
So I renamed`default-site.conf` to `nginx-site.conf` and works.
The cus

[2017-07-25 22:03] #139 closed

[2017-07-27 02:39] myf5 opened #156 "nginx process will keep spawning by supervisord"
Need change the command in supervisord conf to command=/usr/sbin/nginx -g "daemon off;"

[2017-07-27 08:59] #143 closed

[2017-07-30 04:57] cobenash opened #157 "Add multi-site support"
I saw the code provided ssl support. its great. if we put a lot of website at one host, and each website is built with one container.

[2017-07-30 12:31] hkeio commented on #146
I created a pull request for this: https://github.com/ngineered/nginx-php-fpm/pull/158

[2017-07-31 21:28] esetnik opened #160 "Non-alpine image"
I need a variant that uses the `FROM php:7.1.7-fpm` base image because I need to install `sqlsrv` pecl package and alpine does not distribute the required `msodbcsql` for alpine.

[2017-08-01 05:00] esetnik commented on #160
I took a stab at it, see https://github.com/ngineered/nginx-php-fpm/pull/161

[2017-08-10 20:22] esetnik opened #163 "Composer Install Erases Local Dev Dependencies"
See https://github.com/ngineered/nginx-php-fpm/blob/79efb3170bc5fa177c50bb5719b7a2cb90c37ee3/scripts/start.sh#L65

With a local development source volume mount like:
[code]
The `start.sh` script erases the local dev dependencies.

[2017-08-14 09:05] brendaniel opened #164 "letsencrypt-setup python error"
![image](https://user-images.githubusercontent.com/11773683/29265154-da38e7e4-811a-11e7-9e7a-04f253b79743.png)

bash-4.3# cat /tmp/tmpPRk2sp
2017-08-14 09:02:48,151:DEBUG:certbot.log:Exiting abnormally:
Traceback (most recent call last):
  File "/usr/bin/certbot", line 11, in <module>
    sys.exit(main())
  File "/usr/lib/python2.7/site-packages/certbot/main.py", line 733, in main
    plugins = pl

[2017-08-14 09:12] richarvey commented on #164
I'll take a look at this asap

[2017-08-14 09:13] richarvey commented on #160
Would you be prepared to maintain this branch for us? If so we can automate the build.

[2017-08-14 09:16] richarvey commented on #157
I'd personally say separation of site is the better way to proceed. One site per container and run multiple containers. If you only have one IP use something like HAProxy in front of multiple containers. Or if in AWS use the ALB/ELB and push traffic to different ports.

[2017-08-14 09:16] #157 closed

[2017-08-14 14:00] brendaniel commented on #164
@richarvey I think the version of the idna package is too high.

![image](https://user-images.githubusercontent.com/11773683/29274876-40c6ab26-8144-11e7-9c50-efd2c2e4fba0.png)

Can you control this in the Dockerfile?

[2017-08-16 13:25] esetnik commented on #160
I don’t think it should be a separate branch. If I plan to maintain it, I’d expect it to be part of the main codebase and future PRs would impact both alpine and Debian variants.

[2017-08-17 17:51] toancong opened #165 "Add include section in supervisord.conf"
Add include section in supervisord.conf like this, for support multi config

[code]

http://supervisord.org/configuration.html#include-section-settings

Thanks.

[2017-08-18 11:05] richarvey commented on #156
wrong commit message will resolve this now

[2017-08-18 11:09] richarvey commented on #165
Fixed in latest commit

[2017-08-18 11:09] #165 closed

[2017-08-18 13:12] #156 closed

[2017-08-18 13:14] #155 closed

[2017-08-18 13:40] richarvey commented on #164
I'm wondering if something has been fixed upstream as i can't recreate the errors on certbot 0.17.0

[code]

[2017-08-18 13:43] richarvey commented on #146
Hey could you rejig your PR so it works against the latest version then I'll get it merged.

Cheers Ric

[2017-08-18 13:53] brendaniel commented on #164
I'm wondering what happens if I do not modify the Dockerfile or add something to the upstream.

Next time I upload the container, I'll check the idna version and upload it. (version of Python packages too)

[2017-08-18 13:57] richarvey commented on #128
hi @roddypratt lua support is coming in 1.30, I'm doing final testing now and will push the release version shortly

[2017-08-18 14:05] #128 closed

[2017-08-18 14:06] richarvey commented on #145
Surely always returning a 200 negates the point of a healthcheck. Your application could be erroring and you would want that to fail the healthcheck. I think this would be better to include a health check in your code, rather than a generic 200 block.

[2017-08-18 14:41] #164 closed

[2017-08-23 01:34] brendaniel opened #166 "iconv not allowed"
Hi @richarvey

When I try to use this code in the shell, (when I try to use iconv function)
`php -d error_reporting=22527 -d display_errors=1 -r 'var_dump(iconv("UTF-8", "UTF-8//IGNORE", "This is the Euro symbol '\''€'\''."));'`

I get the following error:
![image](https://user-images.githubusercontent.com/11773683/29594548-b47d66c8-87ec-11e7-8449-6477d41994d5.png)
`Notice: iconv(): Wrong charset,

[2017-08-23 13:53] richarvey commented on #166
Ok, I'm pushing out the fix for this right now. Expect tag 1.3.1 to fix this

[2017-08-23 13:54] #166 closed

[2017-08-25 10:14] richarvey commented on #163
Theres a new flag in 1.3.2 APPLICATION_ENV set this to development to prevent this happening.

[2017-08-25 10:14] #163 closed

[2017-08-25 10:45] richarvey commented on #146
This should be fixed in 1.3.2

[2017-08-25 10:45] #146 closed

[2017-08-25 10:45] richarvey commented on #145
Closing after after 7 days

[2017-08-25 10:45] #145 closed

[2017-08-25 13:09] Xammie commented on #148
I'm having the same issue. Cloned latest build from github.

[code]

And i get the exact same error:
[code]
I'm on windows 10 using docker installed with the docker toolbox.

[2017-08-25 13:29] Xammie commented on #148
The containers running the image richarvey/nginx-php-fpm (that i didn't build) don't have the evironment variable `"LD_PRELOAD"` but the images i build automatically have the environment variable `LD_PRELOAD` set to `/usr/lib/preloadable_libiconv.so php` I can't seem to remove the variable it keeps coming back

[2017-08-29 05:34] iqbalprabu opened #167 "Nginx always return 502"

[2017-08-29 05:36] iqbalprabu opened #168 "Nginx always return 502"
hi, i pull your image and run in my laptop.
but nginx always return 502, how to solved it ?

[2017-08-29 05:36] #167 closed

[2017-08-29 05:37] iqbalprabu commented on #167
sorry double post

[2017-08-29 09:06] richarvey commented on #168
Could you confirm that you have the latest version, run:

`docker rmi richarvey/nginx-php-fpm:latest
`

Then run your command to start the image again. I can't repeat the error, but let's try downloading the latest first and see if that fixes it. A good test would be to run it without any options and see if you get the PHP info page up.

Ric

[2017-08-29 09:09] iqbalprabu commented on #168
yes, i have latest image. then i run without any option and can run normaly.
but when i custom any config, this error as above

this custom config

[2017-08-29 09:19] richarvey commented on #168
Also, check permissions. It's possible the PHP process can't access your files

[2017-08-29 09:20] iqbalprabu commented on #168
my config nginx also same with the example in your github.

this is php config

[2017-08-29 09:20] iqbalprabu commented on #168
i can't find this file

[2017-08-29 09:27] richarvey commented on #168
It's there in the stock image, so it has to be something to do with the way you're modifying the image. Why do you have this sleep command?

`CMD while true; do sleep 1000; done`

The stock image runs scripts/start.sh as its CMD, this is responsible for starting supervisord which runs nginx and php-fpm.

If php-fpm is not being started that's why you can't find the sock file. This file isn't a fla

[2017-08-29 09:43] iqbalprabu commented on #168
yeah solved with change this

thank you for the time and the answer

[2017-08-29 09:43] #168 closed

[2017-08-29 09:45] richarvey commented on #168
you're welcome

[2017-09-02 12:46] bigxu opened #169 "composer install with root."
bash-4.3#  composer -v create-project craftcms/craft ./craftcms -s beta
Do not run Composer as root/super user! See https://getcomposer.org/root for details

how do you solve this problem ?

[2017-09-04 08:23] richarvey commented on #169
I'll look into this and get an answer back to you asap.

[2017-09-05 10:10] nunofmendes opened #170 "chown -Rf nginx:nginx /var/www/html takes too long"
I am trying out this docker image with a large website I have. I'm using linked volumes (-v) with z flag.  The total is around 25gb (it has uploaded files etc).

Every time I start the container, and it runs the start.sh script, it hangs for a lot of time in this line:
chown -Rf nginx:nginx /var/www/html

It's strange because sometimes it just takes a few minutes, then it can take up to 1 hour.

I

[2017-09-05 12:24] #170 closed

[2017-09-05 12:24] richarvey commented on #170
This will be fixed in 1.3.4 with an extra flag

[2017-09-06 08:48] richarvey commented on #169
Hi, @bigxu I've pushed an image to docker with the tag 1.3.6-beta. Could you this and see if everything runs as expected?

I've added USER nginx to the container and tested that supervisorctl still works, however, could you use it to pull your code and see if composer installs now works, please.

[2017-09-08 13:28] aleskinen opened #171 "Access denied"
Dockerfile slightly by removing expose command since I am running this behind swarm proxy and it preaks, if two containers is running in same port. Got complains avout group and user nginx existing, added deluser nginx before these. Then I added mkdir /var/cache/nginx/client_temp since otherwice nginx died. Now everything seems good, except that if i try to run php files I get
FastCGI sent in stde

[2017-09-08 15:11] richarvey commented on #171
Make sure that directory is owned by the nginx user, it should be fine if you do this.

[2017-09-11 07:34] aleskinen commented on #171
html files open, but php files do not:
/var/www/html # curl -i localhost:9000
curl: (7) Failed to connect to localhost port 9000: Connection refused
/var/www/html # curl -i 127.0.0.1:9000
curl: (7) Failed to connect to 127.0.0.1 port 9000: Connection refused

[2017-09-11 11:57] aleskinen commented on #171
Works now, changed php-7.1-alpine Dockerfile --with-fpm-user=www-data --with-fpm-group=www-data --with-fpm-user=nginx --with-fpm-group=nginx

[2017-09-11 11:57] #171 closed

[2017-09-13 06:45] richarvey commented on #169
Will close in 3 days of no feedback

[2017-09-20 21:49] bartholdbos commented on #169
@richarvey The [1.3.6-beta](https://github.com/richarvey/nginx-php-fpm/releases/tag/1.3.6-beta) tag seems to point to the same commit as [1.3.5](https://github.com/richarvey/nginx-php-fpm/releases/tag/1.3.5) The Composer warning about using root is still appearing when installing from Docker hub. When building the issue branch with docker myself I get the following errors:
[code]

[2017-09-27 06:13] firmandev opened #174 "help !! how to activate postgresql driver so my website can connect to posgresql database"
im docker newbie, im so confuse how to do that, because my database is posgresql

[2017-09-30 15:51] dionysius commented on #174
I don't know. I had the same issue. Found oramirezo/nginx-php-fpm-pgsql which is based on this dockerfile, but it is 6 months old :(

[2017-09-30 16:38] dionysius commented on #174
Just found a better way!

You need to enable scripts as described here: https://github.com/richarvey/nginx-php-fpm/blob/master/docs/scripting_templating.md
Maybe consider the layout docs for understanding: https://github.com/richarvey/nginx-php-fpm/blob/master/docs/repo_layout.md

So enable scripts by setting environment `RUN_SCRIPTS=1`
And the script I did looks like:
[code]

[2017-10-02 04:00] firmandev commented on #174
thanks for the reply, i will try your solution and tell the result :) @dionysius

[2017-10-03 08:07] random-robbie opened #175 "fpm failing"
I am getting the following errors.
[![Capture.png](https://s1.postimg.org/8rcn0qwz3j/Capture.png)](https://postimg.org/image/1h1jpp5e3v/)

from the following build file

[code]

it is part of a compose file.

[code]

Any suggestions why it's failing?

[2017-10-03 09:35] FaionSax opened #176 "docker-php-ext-configure imap error"
How install php imap extension?
docker-php-ext-configure imap --with-imap-ssl --with-imap

[code]

[2017-10-03 10:11] FaionSax commented on #176
Anwer -
libc-client-dev package doesn't exist on alpine, i need to install imap-dev.
[code]

[2017-10-03 10:11] #176 closed

[2017-10-04 14:47] BenOvermyer commented on #175
In the original image, Supervisor runs both PHP-FPM and nginx. Since you're overriding that to just run nginx, php-fpm is not being run.

[2017-10-05 06:53] auchri opened #177 "Skip composer installation"
A flag to skip the composer installation would be great!

[2017-10-05 10:12] firmandev commented on #174
i tried and ext was installed but how to activate it in php.ini, because my website still cannot communicate with posgresql database.

Fatal error: Uncaught Error: Call to undefined function pg_connect() in /var/www/html/index.php:2 Stack trace: #0 {main} thrown in /var/www/html/index.php on line 2

[2017-10-05 11:03] firmandev commented on #174
it works

thanks for you help :*

[2017-10-05 12:49] #175 closed

[2017-10-05 12:49] richarvey commented on #177
Good idea, I'll look into this

[2017-10-05 12:50] #174 closed

[2017-10-05 12:51] #177 closed

[2017-10-07 11:29] mathieutu commented on #138
Hi @that0n3guy,
I'm trying to understand how it can work because I'm doing the same on my own. In fact supervisord doesn't propagate the env variables to services, so the `XDEBUG_CONFIG=remote_host=192.168.1.7` and `PHP_IDE_CONFIG=serverName=docker` can't be passed to php. (see https://stackoverflow.com/questions/31069834/using-docker-environment-e-variable-in-supervisor)

I had to make something

[2017-10-09 13:19] llbbl commented on #138
@mathieutu Environment variables, you have to pass it on the command line via -e parameter or use docker-compose to make it easier.  Did you try this? Not sure what supervisord has to do with this. I know Xdebug can be a tricky to setup even without trying to do in a container!

[2017-10-09 15:42] that0n3guy commented on #138
@mathieutu llbbl is right... I don't know why you are messing with supervisord for xdebug.

Here is a docker-compose file with the env var examples: https://github.com/oncalladvisors/octobercms-nginx-docker/blob/61e389f447b2dede0a93c57abbddbe7beadcd37c/docker-compose-dev.yml  (point in time link since that repo will change over time)

[2017-10-09 15:42] that0n3guy commented on #138
Also, make sure you're on 1.3.3 or newer.. 1.2.0 doesn't have xdebug, my dev just did that to himself the other day :).

[2017-10-09 20:40] mathieutu commented on #138
Hi, yeah I know this is about env variable, and I know how docker works. BUT this image use supervisord to launch nginx and php-fpm. (see https://github.com/richarvey/nginx-php-fpm/blob/master/conf/supervisord.conf).

And supervisord does not propagate automatically environment variables. So, if you look at the $_ENV of php, you should not find your variables.

An example here: https://stackoverfl

[2017-10-10 16:56] that0n3guy commented on #138
@mathieutu  Have you tested this or are you asking out of theory?

Environment variables ARE passed to php, here is a video showing it: https://goo.gl/tCkspc

If yours is not, maybe you have an odd nginx config thing going on?

[2017-10-13 07:50] mazozu opened #182 "Access to GIT using SSH instead of HTTPS"
The image works great. But it seems to me that it can only pull GIT sources using HTTPS. I've tried to connect to GIT using SSH, but it doesn't work.

Do you have any plans for enabling GIT communication using SSH?

[2017-10-13 12:35] mathieutu commented on #138
@that0n3guy Thank you so much for this video, it's very clear.
I will definitely try to understand how it's possible and why it's working here and not on my side.
I let you know my conclusions when I'll have a bit of time.

[2017-10-13 12:57] #182 closed

[2017-10-13 12:59] mazozu commented on #182
Found the solution - I need to use 'GIT_USE_SSH=1'  parameter. It would be good to add this parameter to https://github.com/richarvey/nginx-php-fpm/blob/master/docs/git_auth.md#ssh-keys page.

[2017-10-16 19:39] Braintelligence commented on #74
@SamMousa Hey, I'm not sure, so maybe you could help me out:
Is this change implemented yet in any way or do I have to set this by myself?

[2017-10-16 20:01] SamMousa commented on #74
Not when I last checked. I no longer use this.

[2017-10-16 20:31] Braintelligence commented on #74
@SamMousa
I'm really confused here...
When I try to mount the /etc/nginx folder, so I can access it from the host, the docker container won't initialize the folder with nginx files.

Do you have any recommendation for docker containers to run general php-based apps, like wordpress?

[2017-10-16 20:49] SamMousa commented on #74
You need to build your own image; or in the case of wordpress, use theirs.
With wordpress you're in trouble with the user uploads though; they need special handling.

Good luck figuring it out!

[2017-10-16 20:52] Braintelligence commented on #74
@SamMousa Yeah, I'll try to use the official WordPress image for now. Thank you for the hints!

[2017-10-17 08:33] valichek opened #183 "Feature request: Add option to use non-secure http with token."
It fetches data only from https. For example, one can run internal dev gogs service with non-https urls. Now we need to overwrite `/run.sh` script when running docker

[2017-10-18 16:02] djarbz opened #184 "PHP Error Log to Docker Logs"
From what I've read the all logs, NGINX and PHP, should be captured by docker and viewable by docker logs -f container_name
I am only seeing NGINX logs and no PHP logs.

I am using the current image as of 10/18/2017

[2017-10-20 16:01] jingling0101 opened #186 "How to install php-pgsql"
/usr/local/bin/docker-php-ext-configure pgsql

......
checking for PostgreSQL support... yes, shared
checking for pg_config... not found
configure: error: Cannot find libpq-fe.h. Please specify correct PostgreSQL installation path

[2017-10-27 14:21] richarvey commented on #184
there may be a flag i need to tweak let me look into it

[2017-10-27 14:22] richarvey commented on #183
Do you mean the URL used for git pull?

[2017-10-27 15:22] valichek commented on #183
@richarvey yes

[2017-10-28 19:07] chrsc commented on #137
This helped me thanks.

[2017-11-06 04:52] khs1994 commented on #186
`apk add --no-cache postgresql-dev`

[2017-11-07 12:48] jpissin opened #191 "Crontab in container"
Cron does not start by default in the container, tests using Dockerfile were unsuccessful. Is it possible to have crontab running by default in the image?

[2017-11-08 18:50] robov opened #192 "gitLAB"
I am trying to pull my private repo from gitLAB with a personal access token. But somehow I cannot get it to work.

[code]

refs not found
Any idea ?

[2017-11-08 18:52] robov commented on #192
[code]
however when I clone it outside the container it works normally as expected

[2017-11-08 18:55] robov commented on #192
and when I dig deeper
[code]
ofcourse the <personal token> contains the real personal token ;-)

[2017-11-08 20:09] robov commented on #192
SOLVED
Replace start.sh line
[code]

with
[code]

[2017-11-09 14:29] coxa opened #193 "PHP mail() and sendmail not working"
[code]
container version 1.3.7

[2017-11-15 19:46] RomanGalochkin opened #194 "Redis extension is not included"
PHP 7. Redis extension is not included by default setups.

[2017-11-16 11:56] richarvey commented on #192
I'll work on making to work for bb, gl and gh

[2017-11-16 11:57] richarvey commented on #183
I'll look at adding an --insecure flag

[2017-11-16 11:57] richarvey commented on #184
this is now closed thanks for the PR

[2017-11-16 11:57] #184 closed

[2017-11-16 11:59] richarvey commented on #193
we could add this to the container if enough people would like it. The other way is to use the native PHP mail options that don't use the local MTA

[2017-11-16 12:02] richarvey commented on #194
I'll push this into the next version you are right this should be standard

[2017-11-16 13:47] robov commented on #192
thanks... awesome work !!! really love what you created

[2017-11-16 15:11] djarbz commented on #184
Thank you, I'll give it a try!

[2017-11-19 19:57] robov commented on #186
I only get it to work if I do
[code]
But then I get a pg_dump version 9.5.8 and I would like a higher version one that I can specify to match my actual database (otherwise I get a version collision on dumping data.) How can I get another version installed ?

[2017-11-20 00:59] khs1994 commented on #186
this image install pg ext.pgsql sound in new image.one image one service!

[2017-11-20 09:10] robov commented on #186
I understand.... but what I would like is to make a dump of the database within the container.
Then I can dump the actual data in the container, and then push it to git. To be able to dump I need to use pg_dump which is only installed on pg main installation.
When I can create a dump from within the container, I do not need to pass the dumped file from the pg container to this container.

[2017-11-20 09:11] robov commented on #186
The only thing I need is the ability to dump a pg and a mysql database to the current container from within the container by calling the ip of the database containers. Other suggestions?

[2017-11-20 09:25] khs1994 commented on #186
you can copy pg dockerfile ,then build

[2017-11-20 09:40] robov commented on #186
you mean just copy the pg_dump executable ?
This would mean that when my database upgrades, my backup breaks (due to version clashes)

[2017-11-20 09:44] khs1994 commented on #186
https://github.com/docker-library/postgres/blob/1805adb0693d9602bfb19b6bf2583b311c43b749/10/alpine/Dockerfile

Add this dockerfile content into this dockerfile,then build

[2017-11-20 09:58] khs1994 commented on #186
Do you install mysql in this image?

[2017-11-20 11:11] robov commented on #186
I fired up the container and with the included scripts I installed mysql in the running container. The the container cron can run a dump on the mysql database, store it in the container and push it to git... works beautiful
I hoped I would be able to do the same thing with pg, however , when I do I get a pg_dump version that is not the same as my separate pg container, so the dump will not work. S

[2017-11-20 11:21] khs1994 commented on #186
Yes.I am not English speaker

[2017-11-20 11:28] robov commented on #186
No worries... I am not Linux/Docker speaker ;-) and I really appreciate your help
Right now I pull in the package at container runtime in the scripts (so the image stays without pg) Do you think it is better to pack it in the image ?

[2017-11-20 11:39] khs1994 commented on #186
You mean `richarvey/nginx-php-fpm` dump(means backup) FROM remote databases(Mysql,PostgreSQL) database

then data file in `richarvey/nginx-php-fpm`

then git push this data file

[2017-11-20 11:54] robov commented on #186
yes I do mean ```richarvey/nginx-php-fpm```
Copying the entire dockerfile in nginx-php-fpm seems like overkill, as it also fires up the pgsql database and sets up configs, I only need access to new pg_dump
What would be the minimal code to include  ?

[2017-11-20 12:04] khs1994 commented on #186
you can try:

copy the `pg_dump` executable from pgsql container

`$ docker run -it --rm postgres:alpine  sh`

open new terminal

`$ docker cp CONTAINER_ID:/usr/local/bin/pg_dump .`

`$ docker run -it --rm -v $PWD/pg_dump:/usr/local/bin/pg_dump richarvey/nginx-php-fpm`

[2017-11-20 19:18] robov commented on #186
Adding this seems to do the trick and installs pg10
[code]

[2017-11-21 01:11] khs1994 commented on #186
http://pkgs.alpinelinux.org/packages?name=postgresql&branch=&repo=&arch=&maintainer=

richarvey/nginx-php-fpm (php) based alpine 3.4

[2017-11-21 01:31] khs1994 commented on #186
what postgresql version you need?

Change `/etc/apk/repositories`
[code]

Then

[code]

[2017-11-21 18:01] richarvey commented on #191
This is something we are unlikely to add. running another daemon in the image isn't great practice, instead look at running cron as a side car container or using tasks in kubernetes.

[2017-11-21 18:01] #191 closed

[2017-11-29 09:42] writetosalman opened #195 "Http2 support ALPN"
Hello

I wanted to ask if we can enable http2 by just editing the config file or something extra has to be done? There is no mention of http2 protocol in the entire help documents.

Thanks

[2017-11-29 15:13] geekstek opened #196 "script generate file permission issue"
For laravel example:
I need to run a artisan command to generate a file when application startup, but the file permission was root.
I tried to su - nginx -c "php artisan generate", but nginx is nologin.
That can't fix by USER nginx, because the script will install some other apk, and run script.
Any idea? Thank you very much

[2017-11-29 15:14] geekstek commented on #196
more over, I tried to install shadow apk to chsh nginx from nologin to bash, but no luck when install...

[2017-11-30 07:31] marek-knappe commented on #183
I think nice fix for that and #192 will be giving user option to give exactly url for git - not guessing it as you have it now, but it could be not backward compatible

[2017-11-30 08:12] writetosalman commented on #195
Nevermind ALPN. Just use http2 in conf and it works fine in Chrome.

[code]

[2017-12-01 16:59] ramonberrutti commented on #191
is there a crontab and folders (15min hours, etc..) one is calling geoip.
You can add code inside there or just edit crontab and add your line.

[2017-12-02 19:21] richarvey commented on #196
have you tried running this without "su - nginx -c" what permission errors do you get?

[2017-12-03 08:24] geekstek commented on #196
ok, I figure out a shortcut for this issue, but need to modify start.sh file (maybe not),
change the line 179 `adduser -D -S -h /var/cache/nginx -s /sbin/nologin -G nginx -u ${PUID} nginx`
mainly remove the `-S` , and run all the command with su - nginx -c "XXX XXX XXX".

[2017-12-03 08:25] geekstek commented on #196
Or not to modify the start.sh,
write this 2 lines in a new script file.
[code]

[2017-12-03 08:27] #196 closed

[2017-12-04 12:18] robov commented on #186
Wierd...
When I installl pg10 then I suddenly get this error when I run composer update
[code]
Any ideas ?

[2017-12-04 12:43] khs1994 commented on #186
ask add --no-cache icu-dev

[2017-12-04 14:44] robov commented on #186
THANKS... I checked again and I finally fixed it by doing it like
[code]

[2017-12-04 19:57] robov commented on #186
now solved it by
[code]

[2017-12-05 08:53] guoyanjun5 opened #198 "How to install php-mongodb and php-redis?"
/usr/local/bin/docker-php-ext-install mongodb
error: /usr/src/php/ext/mongodb does not exist

usage: /usr/local/bin/docker-php-ext-install [-jN] ext-name [ext-name ...]
   ie: /usr/local/bin/docker-php-ext-install gd mysqli
       /usr/local/bin/docker-php-ext-install pdo pdo_mysql
       /usr/local/bin/docker-php-ext-install -j5 gd mbstring mysqli pdo pdo_mysql shmop

if custom ./configure argume

[2017-12-05 18:15] richarvey commented on #195
I may add this by default in a new release!

[2017-12-06 10:28] #198 closed

[2017-12-07 10:11] hulkwan commented on #194
Can I only add extensions already in the container? So I can not freely add the PHP extensions I need in this container

[2017-12-07 10:12] hulkwan opened #199 "How to freely add the required PHP extensions"
Can I only add extensions already in the container? So I can not freely add the PHP extensions I need in this container

[2017-12-07 10:15] bloodstars opened #200 "no such file error"
FROM richarvey/nginx-php-fpm

COPY jdk/* /jdk/
COPY sidecar.jar /root/
COPY start.sh /root/start.sh

CMD ["/root/start.sh"]

when use java in container, it become "no such file", i am sure my java is x64.

[2017-12-15 22:44] richarvey commented on #199
You can just tweak the docker file and rebuild to add anything you want.

[2017-12-15 22:44] #199 closed

[2017-12-20 11:33] meiyoufengzhengdexian opened #202 "How to install phalcon extensions"
I want to use Phalcon Framework, but I do not know how to install

                                                                                                                        ----From google translate^_^

[2017-12-20 11:42] meiyoufengzhengdexian commented on #202
I found the installation method,

[2017-12-20 11:42] #202 closed

[2017-12-22 10:09] robov opened #203 "SKIP COMPOSER not working nicely"
Apparenly you check if the SKIP_COMPOSER is set or not set
Nicer is to allow for explitit setting of SKIP_COMPOSER=0 (to not skip but run)
For those running into the same issues:

Modify the check line into this
`if [ 1 !=  "$SKIP_COMPOSER" ]`

[2017-12-29 08:38] huiyonghkw opened #205 "exec /usr/bin/supervisord -n -c /etc/supervisord.conf Don't execute"
docker-compose.yml like this

[code]

the command

exec /usr/bin/supervisord -n -c /etc/supervisord.conf

don't execute and i must login container and execute it manaul, why???

[2018-01-04 22:48] pablorsk opened #206 "kubernetes don't work"
Following your [Kubernetes guide](https://github.com/richarvey/nginx-php-fpm/blob/master/docs/guides/kubernetes.md) example-app pod never start, I receive this error:

[code]

Also I need apply a fix on `example-service.yml`:
[code]

[2018-01-14 20:27] richarvey commented on #206
Can you confirm your version of kubernetes please

[2018-01-17 11:25] pablorsk commented on #206
kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-15T21:07:38Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}

[2018-01-22 08:59] twDuke opened #209 "DNS fail during image build"
Hey!

Seems to be some problem with dns, if i try to run the image using docker-compose it starts but all outgoing network calls fail. If i add
  dns: 8.8.8.8
to my compose file the container can resolve names.

The next problem i ran into is that after i got the image running and being able to make calls to the outside is that i need to install redis. Now again the install fails with dns error ev

[2018-01-22 09:56] twDuke commented on #209
Was an issue with my docker environment. Haven't seen it before with other images, so assumed it had something to do with this one.

[2018-01-22 09:56] #209 closed

[2018-01-23 12:13] twDuke opened #210 "Build from source not working"
1. Clone this repo master branch
2. Then docker build (not a single change made)
3. Try docker run the new built image
4.  Gives error /usr/local/bin/docker-php-entrypoint: exec: line 9: /start.sh: not found

[2018-01-23 12:17] twDuke opened #211 "Slow startup"
The startup of the image is really slow, on my kubernetes cluster it takes about 3 minutes for the container to fully boot from container started creating.
Locally that time is about 20 seconds using docker compose.

I tried cloning because i wanted to try remove stuff from start.sh to see if anything in there was slow.
But after cloning and running the container wont start as per the other issue

[2018-01-24 22:00] dareksob opened #212 "cannot install ext bz2"
checking for BZip2 support... yes, shared
checking for BZip2 in default path... not found
configure: error: Please reinstall the BZip2 distribution

error after
/usr/local/bin/docker-php-ext-configure bz2 --with-bz2=/usr/local/bz2

i used version 1.4.0

[2018-01-30 01:07] bluebaroncanada opened #213 "volume collision on local application config"
Having a problem mounting a local config file to a directory inside the application directory: `/var/www/html`

Here's the file I want to mount:
[code]

Here's the blow up:

[code]

[2018-01-30 05:30] wl496928838 opened #214 "pecl install mongodb ERROR"
bash-4.3# pecl install mongodb
WARNING: channel "pecl.php.net" has updated its protocols, use "pecl channel-update pecl.php.net" to update
downloading mongodb-1.3.4.tgz ...
Starting to download mongodb-1.3.4.tgz (848,798 bytes)
....................................done: 848,798 bytes
412 source files, building
running: phpize
Configuring for:
PHP Api Version:         20160303
Zend Module Api No:

[2018-02-01 16:14] Dylan-DutchAndBold opened #215 "Multiple domains for Let's Encrypt"
Is it possible to define multiple domains for Let's Encrypt certificates?

[2018-02-04 06:15] wantg opened #217 "can update php function to support PostgreSQL?"
I mean without do anything just pull image to play.

Now I got
[code]

[2018-02-08 23:02] frogydiak opened #218 "Kitematic Volume"
Hi There!

Is there a way to enable volume mapping using Kitematic? It's just easier to access www/html files with IDE.

[2018-02-09 14:53] jon-heller commented on #211
I'm not sure if this is the same issue, but I noticed my instance isn't fully ready for 3-5 minutes after I bring the container up. The container itself comes up in a few seconds, but nginx gives a 502 Bad Gateway for several minutes.

[2018-02-11 14:24] Tutmos opened #219 "shared web folder"
I[m not sure if this is the right way, but I want to manage web pages outside of container.
What I did:
docker run -d --name=nginx \
    --net mysql-net \
    --ip 192.168.10.50 \
    --restart always \
    -p 80:80 \
    -p 443:443 \
    -p 9000:9000 \
    -v /etc/localtime:/etc/localtime \
    -v /home/vesel/web:/var/www \
    -e PUID="1000" \
    -e PGID="1000" \
    nginx-php-fpm

As you can s

[2018-02-12 20:28] JohnShortland opened #220 "amqp extension is not included"
PHP 7. amqp extension is not included by default setup.

Has any one managed to install this?

[2018-02-21 13:14] knaggit opened #222 "Heroku: Can't drop privilege as nonroot user"
Hey! Try to use your image on Heroku. I pulled it locally (where it runs perfectly) and pushed it to the Heroku registry. The following logs documents, how it fails. I am a bit overchallanged here. There are no commands Heroku wouldn't accept. Is there something very obvious for you which may help me?

I think `Web process failed to bind to $PORT within 60 seconds of launch` and `chown: unknown us

[2018-02-22 08:08] xy2z commented on #214
Exact same thing happens when I try to run "pecl install yaml-2.0.2" in bash....
Did you find a solution?

[2018-02-22 17:00] knaggit commented on #222
Okay, first of all, Heroku doesn't allow any root user privileges. That means that processes which require root rights like supervisor don't work. So you have to start separate processes through the CMD script and can't draw on supervisor!

[2018-02-22 17:00] #222 closed

[2018-03-02 07:03] hulkwan commented on #198
how did you resove it？？？

[2018-03-02 11:26] varukashotta opened #223 "AWS Codecommit"
Hello, How do you connect to AWS Codecommit repository ?

[2018-03-06 10:45] alfenfebral commented on #214
sudo apt install php7.0-dev

[2018-03-06 18:54] knaggit opened #225 "Heroku: Use env $PORT in nginx.conf"
Hello,
I just take a few modifications on the Dockerfile to run it on Heroku. Something special about Heroku is, that everything is running as non-root. Second certain behaviour is the use of a random Port which comes from Heroku itself and you can't be modified. They provide the env $PORT which you should bind to nginx. If Heroku recognizes that something isn't bind to that port it stops the enti

[2018-03-12 16:02] bluebaroncanada opened #226 "zend-expressive local configs"
zend-expressive/zend-framework uses local configs in PHPs.  They're probably not the only ones.
A local config would be something like a DB configuration.  You wouldn't want to store your DB connection information in your repo, and also that information will probably be different between dev and prod.
What they do is put their config files in `webroot/config/autoload` and the files will be somethi

[2018-03-26 04:58] guoyanjun5 commented on #198
@hulkwan

Insert 119 lines behind the root dockerfile file:

`    pecl install redis && \
    pecl install mongodb && \
    docker-php-ext-enable redis xdebug mongodb && \
`

[2018-03-27 11:35] echobool commented on #34
@richarvey Isn't it a new version? I need to install PHP driver Mongo thanks

[2018-03-30 03:08] askasky opened #228 "The build failed composer, signature is wrong."
in Dockerfile line number 205
`EXPECTED_COMPOSER_SIGNATURE=$(wget -q -O - https://composer.github.io/installer.sig) && \`
`php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');" && \`
`php -r "if (hash_file('SHA384', 'composer-setup.php') === '${EXPECTED_COMPOSER_SIGNATURE}') { echo 'Composer.phar Installer verified'; } else { echo 'Composer.phar Installer corrupt'; } echo PHP_E

[2018-04-04 19:24] gl0bus commented on #194
Hi there,
if someone needs this ASAP, the following code should let you use the php redis extension:

[code]

[2018-04-05 07:00] Wchindanai opened #229 "Nginx not detect intermediate certificate"
when i add intermediate certificate to ssl config and nginx not show up. so i check in this website https://cryptoreport.websecurity.symantec.com/checker . it tell not found intermediate certificate

[2018-04-05 14:47] srnfr commented on #194
I needed Redis extension, but also NFS client and TZData as well.
Here's how I did it :

[code]

Works fine. Hope this helps.

[2018-04-08 17:56] kevinlisota commented on #148
I have been receiving this same error, on docker version 18.03.0-ce on both Ubuntu and Windows variants, built from source. This same issue is being reported in this[ open issue](https://github.com/richarvey/nginx-php-fpm/issues/210) and maybe [this one](https://github.com/richarvey/nginx-php-fpm/issues/205) as well.

I entered the docker image and start.sh does exist and has correct permissions.

[2018-04-17 07:36] tonyxyl opened #230 "how to install extension ldap?"
when i am in a physics machine, i did below,
[code]
but what should i do in this image?

[2018-04-17 11:10] tonyxyl commented on #230
i just solve the problem, in alpine, there is a package openldap-dev instead of openldap-devel

[2018-04-17 11:10] #230 closed

[2018-04-17 20:16] bartdeboer opened #231 "Entire project deleted by this image"
Unfortunately can't share any code since it's gone. I was making a docker-compose as described by the docs. But added a volume to mount my host file system (../) on /var/www/html. Started the image. Entire project deleted! :(

I'm guessing the code path reached line 44 in scripts/start.sh .

[2018-04-24 19:01] gateway opened #232 "apk upgrade states apk-tools is OLD! ?"
I installed the latest build today and am testing this out to figure out if this works for what I need. I usually make it a habit to update any packages when I first run, mainly looking for security fixes but running the command seemed to fail.  Please note im coming from more CentOS and Ubuntu so still digging into BusyBox (Alpine Linux?)

[code]

[2018-04-25 21:10] gateway opened #233 "Improper command for https2 (ssl fails with default config for ssl)"
https://github.com/richarvey/nginx-php-fpm/blob/a25774737cbbd739a939789efe85bc71f75cef49/conf/nginx-site-ssl.conf#L3

`listen [::]:443 ssl https2 ipv6only=on; ## listen for ipv6`

should be

`listen [::]:443 ssl http2 ipv6only=on; ## listen for ipv6`

[2018-04-25 21:11] gateway commented on #233
Seems like someone submitted a fix but its not in master ..
https://github.com/richarvey/nginx-php-fpm/pull/207

[2018-04-26 10:51] Creaprog opened #234 "Let's encrypt impossible"
Hello,

I have the problem with setup let's encrypt.

My docker-compose :
version: '3.3'

services:

  wordpress:
    container_name: wordpress
    image: wordpress
    restart: always
    environment:
      WORDPRESS_DB_PASSWORD: example
    volumes:
      - ./wp-content:/var/www/html/

  mysql:
    container_name: mysql
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_P

[2018-05-02 09:44] laurencefass opened #236 "how to restart/control nginx"
i cant find a way to restart nginx in this container. all the documentation for running nginx on alpine points to using rc-service, rc-status etc. which not working as its not installed. please can you recommend best way to control nginx using this image. thanks.

[2018-05-02 16:09] laurencefass opened #237 "/usr/local/etc/php no php.ini file"
im having problems with a 504 gateway timeout so I want to make changes to php.... and phpinfo(); says there's a php.ini file at /usr/local/etc/php but the directory is empty. i assume that php is being initialised from somewhere. any insights much appreciated.

thanks

[2018-05-03 09:46] ciarans commented on #234
@Creaprog there  is a typo - in default-ssl.conf you need to change it to

[code]

[2018-05-05 18:57] chillz561 opened #238 "how can i get this to work in docker swarm"
or does anyone know how or can provide a tutorial to set this up with wordpress in a swarm cluster i have looked everywhere and can't find anything

[2018-05-05 19:03] chillz561 commented on #238
or does anyone know how or can provide a tutorial to set this up with wordpress in a swarm cluster i have looked everywhere and can't find anything

[2018-05-07 23:19] Hackebein opened #239 "PHP errors not logged via stdout/stderr"
PHP errors are not visible via `docker logs`
Tested Versions:
* 1.3.8
* 1.3.10

`test.php`:
[code]
`docker logs`:
[code]

After enable file logs:
[code]

Started via Docker Compose:
[code]

[2018-05-08 00:02] Hackebein opened #240 "env ERRORS=0 has no effect"
Errors still visible

[2018-05-08 00:10] Hackebein opened #241 "404 error page is broken"
404 error site looks destroyed and with not existing github link and seams to have a wrong twitter link

[2018-05-18 17:51] apanagiotou commented on #239
+1

[2018-05-25 10:13] hundan2020 commented on #237
I just ran into this problem, and then I tried to look for it, and I could do it by editing '/usr/local/etc/php/conf.d/docker-vars.ini ', and then after I ' pkill php-fpm ', the process automatically restarted, The configuration was successfully enforced.

[2018-06-05 00:58] ifollett commented on #236
supervisorctl restart nginx or nginx -s reload if you just want to load a new .conf file

[2018-06-05 01:03] ifollett commented on #232
edit your /etc/apk/repositories file to include:
- http://dl-cdn.alpinelinux.org/alpine/latest-stable/main
- http://dl-cdn.alpinelinux.org/alpine/latest-stable/community

instead of a specific version number

[2018-06-05 01:19] ifollett commented on #186
@robov the method above no longer works because there is a conflict with the postgresql-dev install. Something to do with using LibreSSL instead of OpenSSL in Alpine 3.5+
[code]

[2018-06-05 08:52] jefersonkaefer commented on #186
[code]
Restart container

[2018-06-22 20:50] jbouzekri commented on #239
I am not sure if it is related but I have just sumitted this SO issue : https://stackoverflow.com/questions/50995042/docker-does-not-catch-php-fpm-outputs-with-symfony-and-monolog

[2018-06-26 07:59] atefBenSalah commented on #239
+1

[2018-06-30 21:44] richarvey commented on #241
fixed in 1.5.4

[2018-06-30 21:44] #241 closed

[2018-06-30 21:44] richarvey commented on #239
fixed in 1.5.4

[2018-06-30 21:44] #239 closed

[2018-08-04 08:44] 84hero commented on #232
@ifollett who to edit /etc/apk/repositories ?

[2018-08-07 17:13] ifollett commented on #232
@84hero you will need to use something like nano or vi to edit the file

[2018-08-09 21:41] ratio91 opened #246 "option to monitor nginx with amplify"
Hi, great work - saved me from a lot of pain!

Quick question - as I was using nginx amplify before, how can I integrate it here?

e.g. using the Dockerfile from https://github.com/nginxinc/docker-nginx-amplify

[code]

obviously, this does not work.
Any idea how this could be achieved?
Thank you!

[2018-09-05 08:48] mathieutu commented on #186
[code]
in Dockerfile.

[2018-09-21 15:38] william1888 opened #247 "connection refused"
Nginx runs perfectly fine for about 12 hours and then it starts giving 502 errors with this in the log file:

`connect() to unix:/var/run/php-fpm.sock failed (111: Connection refused) while connecting to upstream,`

After I restart the container it starts working again until the next time it breaks.

[2018-09-30 13:41] robov opened #248 "Postgres install failed : conflict openssl and libresssl"
I am trying to upgrade but now postgres complaints. In the previous php7 dockerfile it worked by adding this. Now I get a conflic between openssl and libressl... Any suggestions how to get postgres installed?

#added
'
RUN set -ex \
  && apk --no-cache add \
  postgresql-dev

RUN docker-php-ext-install pdo pdo_pgsql
RUN apk del postgresql-dev
RUN apk add --upgrade postgresql --update-cache --repos

[2018-10-01 17:10] bogomips opened #249 "letsencrypt script - wrong path"
hi,
In the script /usr/bin/letsencrypt-setup

 `# change nginx for webroot and domain name
 sed -i  "s/##DOMAIN##/${DOMAIN}/g" /etc/nginx/sites-enabled/default-ssl.conf
`
the above line breaks the script and overwrites the symbolic links.
It should be

 `# change nginx for webroot and domain name
 sed -i  "s/##DOMAIN##/${DOMAIN}/g" /etc/nginx/sites-available/default-ssl.conf
`

[2018-11-16 11:39] star7th opened #250 "How to install php ldap extension,please?"
I execute “apk add php7-ldap” in docker ，but do not see it in "php -m"

My version is "richarvey/nginx-php-fpm:1.5.3"

[2018-11-17 02:50] star7th commented on #250
I solved it :

apk update
apk add openldap-dev
docker-php-ext-install ldap

[2018-11-17 02:51] #250 closed

[2018-12-05 16:05] cjaoude commented on #232
this issue also shows up in `richarvey/nginx-php-fpm:php71`...it's crippled our dockerfile for this project.

@ifollett you seem to know what's going on, any chance you could push a PR fix for this?

we attempted your solution, (and also others, like `apk add -u apk-tools` type solution in dockerfile) but still the error appears. :/

[2018-12-07 20:45] fosk06 commented on #247
Hello, i have the same problem.
Any idea ?

[2018-12-10 03:23] G-Bruin opened #251 "how to install rabbitmq by php:7.2.4-fpm-alpine"

[2018-12-10 08:36] #251 closed

[2019-03-07 14:10] mims92 opened #252 "gnu-iconv not found"
Hello,

I've an error when building the image at line
`RUN apk add --no-cache --repository http://dl-3.alpinelinux.org/alpine/edge/testing gnu-iconv`:

`ERROR: unsatisfiable constraints:
  gnu-iconv (missing):
    required by: world[gnu-iconv]
`

How can install it as it seems it's not in the alpine repo anymore.

Thank you

[2019-03-08 08:29] mims92 commented on #252
Repo has changed. Here is the working line

`RUN apk update && apk add --no-cache --repository http://dl-3.alpinelinux.org/alpine/edge/community gnu-libiconv`

[2019-03-28 03:31] sjwjq1108 opened #254 "Alert 'Operation not permitted',when reload nginx"
In php,i execute 'nginx -s reload',it will ~~~~~
[notice] 80#80: signal process started"
[alert] 80#80: kill(15, 1) failed (1: Operation not permitted)"
172.17.0.1 - - [28/Mar/2019:11:18:01 +0000] "GET / HTTP/1.1" 200 103 "-" "Mozilla/5.0 (X11; Linux x86_64; rv:60.0) Gecko/20100101 Firefox/60.0"

but,execute it in docker 'nginx-php-fpm' ,it is ok.

[2022-03-02 14:01] #217 closed

[2022-03-02 14:01] #218 closed

[2022-03-02 14:01] #223 closed

[2022-03-02 14:01] #225 closed

[2022-03-02 14:01] #226 closed

[2022-03-02 14:01] #231 closed

[2022-03-02 14:01] #232 closed

[2022-03-02 14:01] #233 closed

[2022-03-02 14:02] #234 closed

[2022-03-02 14:02] #236 closed

[2022-03-02 14:02] #237 closed

[2022-03-02 14:02] #238 closed

[2022-03-02 14:02] #240 closed

[2022-03-02 14:02] #246 closed

[2022-03-02 14:02] #247 closed

[2022-03-02 14:02] #248 closed

[2022-03-02 14:02] #249 closed

[2022-03-02 14:02] #252 closed

[2022-03-02 14:02] #254 closed

[2022-03-02 14:02] #183 closed

[2022-03-02 14:02] #193 closed

[2022-03-02 14:02] #194 closed

[2022-03-02 14:02] #195 closed

[2022-03-02 14:02] #200 closed

[2022-03-02 14:02] #203 closed

[2022-03-02 14:02] #205 closed

[2022-03-02 14:02] #206 closed

[2022-03-02 14:02] #210 closed

[2022-03-02 14:02] #212 closed

[2022-03-15 02:31] duiniwukenaihe opened #262 "Dockerfile image can not build"
I use the repository's Dockerfile to build the image, but I can't build it successfully：
[code]
i found this issues:
[code]
whatcan i do ?build this image

[2022-03-15 05:34] xdendev commented on #262
do u solved ?
I have this problem too, i try change version of image and libiconv but still does not work
`In file included from /usr/local/include/php/Zend/zend_config.h:1,
                 from /usr/local/include/php/Zend/zend_portability.h:43,
                 from /usr/local/include/php/Zend/zend_types.h:25,
                 from /usr/local/include/php/Zend/zend.h:27,
                 from /us

[2022-03-15 06:10] duiniwukenaihe commented on #262
I temporarily commented out iconv and compiled it.

[2022-03-15 06:11] duiniwukenaihe commented on #262
I temporarily commented out iconv and compiled it. It depends on what is the best way for you

[2022-03-15 06:21] xdendev commented on #262
cant, becouse i use some functions from this lib

[2022-03-15 06:21] duiniwukenaihe commented on #262
I took a closer look:
[code]
already Use gnu-libiconv for php iconv extension on alpine In fact, iconv can be commented out here. After playing a mirror, I also found that there is iconv。

[2022-03-15 06:23] duiniwukenaihe commented on #262
and  8.0 is also. so  you can commented out here

[2022-03-15 06:29] xdendev commented on #262
if i comment iconv  i still can use functions iconv() in php ? php 8.1

[2022-03-15 06:33] duiniwukenaihe commented on #262
I took the image of php 7.48-fpm and commented out the iconv image and started it. Entering the container to execute php-m is dependent on iconv. you may try it 。richarvey/nginx-php-fpm image three is based on the official base image:
[code]

[2022-03-25 20:38] richarvey commented on #262
I can confirm that this can be removed and still you can use the lib inconv commands. It's now fixed in the 2.0.5 release

[2022-03-25 20:38] #262 closed

[2022-04-21 14:51] oluomotoso opened #265 "Php extension not found on latest tag"
I recently noticed that the latest version does not have previously  enabled modules

I get this error

[code]

I reverted the version 2.0.5 and it works.

[2022-04-23 19:24] richarvey commented on #265
will look into this now for you

[2022-04-23 19:42] #265 closed

[2022-05-11 17:48] sabrio opened #266 "docker-php-ext-install pdo pdo_pgsql pgsql issue Alpain: 3.14 or above"
I am having issue while installing:
`docker-php-ext-install pdo pdo_pgsql pgsql` on all php8.1 tags, the reasons seems to be related with the alpine version `>= 3.14`

[code]

Is there a possibility to make changeable the alpine version on this image?

[2022-05-11 20:14] #266 closed

[2022-06-10 06:07] plugowski opened #267 "Xdebug configuration"
Hi,

For new Xdebug 3 there is slight different configuration in ini. And for now error I get after run container is:

[code]

For most previous projects I used that configuration:

[code]

Can it be adjusted in script.sh ?

[2022-07-11 11:33] #267 closed

[2022-10-20 12:48] duiniwukenaihe opened #269 "ngx_devel_kit has invalid address"
now ngx_devel_kit address  https://github.com/simpl/ngx_devel_kit has changed https://github.com/vision5/ngx_devel_kit。Dockerfile If not modified，will not compile

[2022-11-08 12:43] cp-sumi-k opened #271 "How to change max_execution_time ?"
I have built a laravel project using this docker image. I want to change max_execution_time.

I have added it in `usr/local/etc/php/conf.d/docker-vars.php` as `max_execution_time=120`,  but the changes were not affected

Run: php -i | grep execution
Output  : max_execution_time => 0 => 0